/* DropDown Space*/
.el-popper[x-placement^='bottom'] {
  margin-top: 5px !important;
}

// Element Dropdown
.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

// Icon
.el-icon-caret-bottom {
  font-size: 12px;
}

.icon-white {
  color: white;
}

.header-item-margin {
  margin-left: 15px;
}

/* Element textarea font */
.el-textarea__inner {
  font-size: 12px;
}

/* Element dialog*/
.el-dialog__body {
  padding: 20px 20px 10px 20px !important;
}

/* Soft Remove*/
.soft-remove {
  color: #f56c6c;
  text-decoration: line-through;
}

/* Custom Select Opt*/
.custom-select-opts-left {
  float: left;
}

.custom-select-opts-right {
  float: right;
  color: #8492a6;
  font-size: 12px;
  font-style: italic;
}

/* Action Dropdown */
.soft-remove-action {
  color: #f56c6c;
  /* background-color: #fdf6ec; */
}

.restore-action {
  color: #409eff;
}

.remove-action {
  color: #f56c6c;
}

// Fix Collapse-List Width
.el-container {
  flex-basis: 0 !important;
}

// AG Grid: Header Alignment
.ag-theme-balham .ag-header-cell-label {
  display: inline !important;
}
.ag-theme-balham .ag-header-cell-label > span {
  float: none !important;
}
.ag-theme-balham .ag-header-cell-label span {
  height: 33% !important;
}

// Image Upload
.image-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.image-uploader .el-upload:hover {
  border-color: #409eff;
}
.image-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 125px;
  height: 125px;
  line-height: 125px !important;
  text-align: center;
}
.image-uploader-preview {
  width: 125px;
  height: 125px;
  display: block;
}

// Hide Tooltip from Sidebar
.sidebar-tooltip {
  .el-tooltip__popper {
    display: none !important;
  }
}

// Tag view
.tag-view {
  .el-tabs {
    border-bottom: 1px solid #e4e7ed;
  }
  .el-tabs__nav-next,
  .el-tabs__nav-prev {
    line-height: 40px;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item:first-child {
    border-left: 1px solid #e4e7ed;
  }
  .el-tabs__header {
    margin: 0px 60px 0px 20px !important;
  }

  .el-tabs--card > .el-tabs__header {
    border-bottom: none !important;
  }

  .el-tabs--card > .el-tabs__header .el-tabs__nav {
    // background-color: white;
    background-color: #f8f8f9;
    border-radius: unset;
    border: unset;
    border-right: 1px solid #e4e7ed;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item {
    border-bottom: 1px solid #e4e7ed;
  }

  .el-tabs__nav-wrap.is-scrollable {
    /* margin-right: 50px; */
  }

  .close-all,
  .close-all:focus {
    float: right;
    margin: -32px 20px 0px 5px;
    color: #f56c6c;
    padding: 5px;
    // border-color: #ffb0b0;
  }
  .close-all:hover {
    color: #f5f7fa;
    border-color: #ffb0b0;
    background-color: #f56c6c;
  }
  .el-tabs__item.is-active {
    border-bottom: none !important;
  }

  .el-tabs--card > .el-tabs__header .el-tabs__item .el-icon-close {
    line-height: 14px !important;
  }
  .el-tabs__item .el-icon-close {
    border-radius: 15% !important;
  }
  .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
    background-color: #f0f0f0;
  }
}

// Popover Menu Title
.el-popover {
  padding: 0px !important;
  margin-top: 5px;
  .el-menu-item,
  .el-submenu__title {
    height: 45px;
    line-height: 45px;
  }
}

// Breadcrumb
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a,
.el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover,
.el-breadcrumb__item:last-child .el-breadcrumb__inner:hover {
  color: #909399;
}

// Card
.el-card {
  .header:before,
  .header:after {
    display: table;
    content: '';
  }
  .header:after {
    clear: both;
  }
  .header {
    .float-right {
      float: right;
      margin-bottom: -25px;
    }
    .float-right-btn {
      float: right;
      margin-top: -5px;
      margin-bottom: -25px;
    }
  }
}

// Menu for setting page
.menu-setting {
  height: ~'calc(100vh - 196px)';
  border-right: none !important;

  .el-menu-item [class^='fa'],
  .el-submenu [class^='fa'] {
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
    width: 13px;
    margin-right: 10px;
  }
  .el-menu-item [class^='el-icon-'] {
    // margin-right: 5px;
    width: 0px;
  }
}

.table-item {
  .el-table--enable-row-hover .el-table__body tr:hover {
    cursor: pointer;
  }
}
