// Khmer
/* battambang-regular - khmer */
@font-face {
  font-family: 'Battambang';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/battambang-v9-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Battambang'),
    url('/fonts/khmer/battambang-v9-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/battambang-v9-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/battambang-v9-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/battambang-v9-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/battambang-v9-khmer-regular.svg#Battambang') format('svg');
  /* Legacy iOS */
}

/* bokor-regular - khmer */
@font-face {
  font-family: 'Bokor';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/bokor-v8-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Bokor'),
    url('/fonts/khmer/bokor-v8-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/bokor-v8-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/bokor-v8-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/bokor-v8-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/bokor-v8-khmer-regular.svg#Bokor') format('svg');
  /* Legacy iOS */
}

/* content-regular - khmer */
@font-face {
  font-family: 'Content';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/content-v8-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Content'),
    url('/fonts/khmer/content-v8-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/content-v8-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/content-v8-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/content-v8-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/content-v8-khmer-regular.svg#Content') format('svg');
  /* Legacy iOS */
}

/* fasthand-regular - khmer */
@font-face {
  font-family: 'Fasthand';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/fasthand-v7-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Fasthand'), local('Fasthand-Regular'),
    url('/fonts/khmer/fasthand-v7-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/fasthand-v7-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/fasthand-v7-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/fasthand-v7-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/fasthand-v7-khmer-regular.svg#Fasthand') format('svg');
  /* Legacy iOS */
}

/* freehand-regular - khmer */
@font-face {
  font-family: 'Freehand';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/freehand-v8-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Freehand'),
    url('/fonts/khmer/freehand-v8-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/freehand-v8-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/freehand-v8-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/freehand-v8-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/freehand-v8-khmer-regular.svg#Freehand') format('svg');
  /* Legacy iOS */
}

/* metal-regular - khmer */
@font-face {
  font-family: 'Metal';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/metal-v9-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Metal'),
    url('/fonts/khmer/metal-v9-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/metal-v9-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/metal-v9-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/metal-v9-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/metal-v9-khmer-regular.svg#Metal') format('svg');
  /* Legacy iOS */
}

/* moul-regular - khmer */
@font-face {
  font-family: 'Moul';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/moul-v8-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Moul'),
    url('/fonts/khmer/moul-v8-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/moul-v8-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/moul-v8-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/moul-v8-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/moul-v8-khmer-regular.svg#Moul') format('svg');
  /* Legacy iOS */
}

/* moulpali-regular - khmer */
@font-face {
  font-family: 'Moulpali';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/moulpali-v9-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Moul Pali'), local('MoulPali'),
    url('/fonts/khmer/moulpali-v9-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/moulpali-v9-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/moulpali-v9-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/moulpali-v9-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/moulpali-v9-khmer-regular.svg#Moulpali') format('svg');
  /* Legacy iOS */
}

/* siemreap-regular - khmer */
@font-face {
  font-family: 'Siemreap';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/khmer/siemreap-v9-khmer-regular.eot');
  /* IE9 Compat Modes */
  src: local('Siemreap'),
    url('/fonts/khmer/siemreap-v9-khmer-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/khmer/siemreap-v9-khmer-regular.woff2') format('woff2'),
    url('/fonts/khmer/siemreap-v9-khmer-regular.woff') format('woff'),
    url('/fonts/khmer/siemreap-v9-khmer-regular.ttf') format('truetype'),
    url('/fonts/khmer/siemreap-v9-khmer-regular.svg#Siemreap') format('svg');
  /* Legacy iOS */
}

.kh-battambang {
  font-family: 'Battambang';
}

.kh-bokor {
  font-family: 'Bokor';
}

.kh-content {
  font-family: 'Content';
}

.kh-fasthand {
  font-family: 'Fasthand';
}

.kh-freehand {
  font-family: 'Freehand';
}

.kh-metal {
  font-family: 'Metal';
}

.kh-moul {
  font-family: 'Moul';
}

.kh-moulpali {
  font-family: 'Moulpali';
}

.kh-siemreap {
  font-family: 'Siemreap';
}
