// Body
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, SimSun, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

// Login form
.login-textbox {
  .el-input__inner {
    background-color: rgba(255, 255, 255, 0.2) !important;
    border: none;
    color: #ffffff;
  }
}

// Changelog
.changelog {
  div {
    h1 {
      border-bottom: 1px solid #eaecef;
    }
    ul {
      li {
        color: #606266;
      }
    }
  }
}

// --- Custom Helper ---
// Fieldset
.ra-fieldset {
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #606266;
  font-size: 14px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: 22px;
  padding: 10px 15px;

  legend {
    color: #606266;
    font-weight: 500;
  }
}
// --------

// Sidebar tooltip
.sidebar-tooltip {
  .el-tooltip__popper {
    display: none !important;
  }
}

// Divider
.ra-divider {
  margin-top: 5px;
  height: 1px;
  border: 0;
  background-color: #4c4c4c;
}

.ra-divider.light {
  background-color: hsla(0, 0%, 70%, 0.32);
}

// Table Toolbar
.table-toolbar {
  margin-bottom: 10px;
}
.ra-table-toolbar {
  margin-bottom: 10px;
}

// Text Alignment
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.ra-text-left {
  text-align: left;
}
.ra-text-right {
  text-align: right;
}
.ra-text-center {
  text-align: center;
}

// Text Style
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.ra-text-bold {
  font-weight: bold;
}
.ra-text-italic {
  font-style: italic;
}

// Text link
.ra-text-link {
  color: #409eff;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Spacing */
// Margin
.ra-mt {
  margin-top: 18px;
}
.ra-mt-md {
  margin-top: 14px;
}
.ra-mt-sm {
  margin-top: 10px;
}
.ra-mt-lg {
  margin-top: 32px;
}
.ra-mt-xl {
  margin-top: 36px;
}
.ra-mb {
  margin-bottom: 18px;
}
.ra-mb-md {
  margin-bottom: 14px;
}
.ra-mb-sm {
  margin-bottom: 10px;
}
.ra-mb-lg {
  margin-bottom: 32px;
}
.ra-mb-xl {
  margin-bottom: 36px;
}
.ra-mr {
  margin-right: 18px;
}
.ra-mr-md {
  margin-right: 14px;
}
.ra-mr-sm {
  margin-right: 10px;
}
.ra-mr-lg {
  margin-right: 32px;
}
.ra-mr-xl {
  margin-right: 36px;
}
.ra-ml {
  margin-left: 18px;
}
.ra-ml-md {
  margin-left: 14px;
}
.ra-ml-sm {
  margin-left: 10px;
}
.ra-ml-lg {
  margin-left: 32px;
}
.ra-ml-xl {
  margin-left: 36px;
}

// Padding
.ra-pt {
  padding-top: 18px;
}
.ra-pt-md {
  padding-top: 14px;
}
.ra-pt-sm {
  padding-top: 10px;
}
.ra-pt-lg {
  padding-top: 32px;
}
.ra-pt-xl {
  padding-top: 36px;
}
.ra-pb {
  padding-bottom: 18px;
}
.ra-pb-md {
  padding-bottom: 14px;
}
.ra-pb-sm {
  padding-bottom: 10px;
}
.ra-pb-lg {
  padding-bottom: 32px;
}
.ra-pb-xl {
  padding-bottom: 36px;
}
.ra-pr {
  padding-right: 18px;
}
.ra-pr-md {
  padding-right: 14px;
}
.ra-pr-sm {
  padding-right: 10px;
}
.ra-pr-lg {
  padding-right: 32px;
}
.ra-pr-xl {
  padding-right: 36px;
}
.ra-pl {
  padding-left: 18px;
}
.ra-pl-md {
  padding-left: 14px;
}
.ra-pl-sm {
  padding-left: 10px;
}
.ra-pl-lg {
  padding-left: 32px;
}
.ra-pl-xl {
  padding-left: 36px;
}

// Box Info
.info-box {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-height: 70px;
  background: #fff;
  margin-bottom: 1rem !important;
  display: flex !important;
  .info-box-icon {
    border-radius: 0.25rem;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    width: 70px;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
  .elevation-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .bg-primary {
    background-color: #409eff !important;
  }
  .bg-success {
    background-color: #67c23a !important;
  }
  .bg-warning {
    background-color: #e6a23c !important;
  }
  .bg-danger {
    background-color: #f56c6c !important;
  }
  .bg-info {
    background-color: #909399 !important;
    color: #fff;
  }
  .bg-aqua {
    background-color: #17a2b8 !important;
  }

  .info-box-content {
    padding: 5px 10px 5px 30px;
    flex: 1;
    .info-box-text {
      font-weight: bold;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #909399;
      font-size: 16px;
    }
    .info-box-number {
      display: block;
      font-weight: bold;
      font-size: 22px;
      padding-top: 14px;
      color: #666;
    }
  }
}
// --End Box Info

// Card Panel
.card-panel {
  height: 100px;
  cursor: pointer;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  color: #666;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;

  &:hover {
    .card-panel-icon-wrapper {
      color: #fff;
    }
    .icon-primary {
      background: #409eff;
    }
    .icon-success {
      background: #67c23a;
    }
    .icon-info {
      background: #909399;
    }
    .icon-warning {
      background: #e6a23c;
    }
    .icon-danger {
      background: #f56c6c;
    }
    .icon-aqua {
      background: #17a2b8;
    }
  }
  .icon-primary {
    color: #409eff;
  }
  .icon-success {
    color: #67c23a;
  }
  .icon-info {
    color: #909399;
  }
  .icon-warning {
    color: #e6a23c;
  }
  .icon-danger {
    color: #f56c6c;
  }
  .icon-aqua {
    color: #17a2b8;
  }

  .card-panel-icon-wrapper {
    float: left;
    margin: 10px 10px;
    padding: 10px;
    transition: all 0.38s ease-out;
    border-radius: 6px;
    font-size: 50px;
  }
  .card-panel-icon {
    float: left;
    font-size: 48px;
  }
  .card-panel-description {
    float: right;
    font-weight: bold;
    margin: 26px;
    margin-left: 0px;
    .card-panel-text {
      line-height: 18px;
      color: #909399;
      font-size: 16px;
      margin-bottom: 12px;
    }
    .card-panel-num {
      font-size: 20px;
    }
  }
}
//-- End Card Panel
