<head>
  <title>Rabbit Tech</title>
  <meta name="description" content="A description for the application.">
  <meta name="viewport" content="initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="16x16">
</head>

<body>
  <app></app>
</body>