/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-y*/
.fade-y-leave-active,
.fade-y-enter-active {
  transition: all 0.5s;
}
.fade-y-enter {
  opacity: 0;
  transform: translateY(-15px);
}
.fade-y-leave-to {
  opacity: 0;
  transform: translateY(15px);
}

/*fade-x*/
.fade-x-enter-active,
.fade-x-leave-active {
  transition: all 0.5s;
}

.fade-x-enter,
.fade-x-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.fade-x-move {
  transition: all 0.5s;
}

.fade-x-leave-active {
  position: absolute;
}
