<template>
  <el-card
    shadow="never"
    class="table-item"
  >
    <div
      slot="header"
      class="header"
    >
      <!-- Form Filter -->
      <el-form
        ref="form"
        :model="form"
      >
        <el-select
          v-model="form.accountType"
          size="mini"
          placeholder="Account type"
          clearable
          style="width: 100%"
          @change="handleAccountTypeChange"
        >
          <el-option
            v-for="item in accountTypeOpts"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
        <div class="ra-mb-sm" />

        <el-input
          v-model="form.searchText"
          placeholder="Search..."
          size="mini"
        />
      </el-form>
    </div>

    <!-- Item Table -->
    <data-tables-server
      v-loading="loading"
      ref="tableRef"
      :data="tableData"
      :total="tableTotal"
      :table-props="tableProps"
      :page-size="tablePageSize"
      :pagination-props="tablePagination"
      @query-change="getTableData"
      @row-click="handleRowClick"
    >
      <el-table-column
        prop="_id"
        label="Chart of Account"
      >
        <template slot-scope="scope">
          <span :style="{ marginLeft: marginLeftStyle(scope.row) + 'px' }">
            {{ scope.row.code }} : {{ scope.row.name }}
          </span>
        </template>
      </el-table-column>
    </data-tables-server>
  </el-card>
</template>

<script>
import _ from 'lodash'

import Notify from '/imports/client/lib/notify'

import { lookupAccountType } from '../../api/lookups/chartAccount.js'
import { getChartAccountsDataTable } from '../../api/chart-accounts/methods'

export default {
  name: 'ChartAccountDataTable',
  data() {
    return {
      // Form
      accountTypeOpts: [],
      form: {
        accountType: '',
        searchText: '',
      },

      // Table
      loading: false,
      tableData: [],
      tableTotal: 0,
      tableTitles: [
        { prop: 'code', label: 'Code' },
        { prop: 'name', label: 'Name' },
      ],
      tableProps: {
        height: `calc(100vh - 331px)`,
        showHeader: false,
        highlightCurrentRow: true,
      },
      tablePageSize: 15,
      tablePagination: {
        pageSizes: [15],
        layout: 'prev, total, next',
      },
      tableQuery: null,
      activeRow: null,
    }
  },
  watch: {
    'form.searchText': _.debounce(function(val) {
      this.getTableData(this.tableQuery)
    }, 300),
  },
  mounted() {
    this.getAccountTypes()
  },
  methods: {
    // Get account type
    getAccountTypes() {
      lookupAccountType
        .callPromise()
        .then(result => {
          this.accountTypeOpts = result
        })
        .catch(error => {
          console.log(error)
          Notify.error({ message: error.reason })
        })
    },
    // Get data
    getTableData(query) {
      if (query) {
        this.loading = true
        this.tableQuery = query

        // Selector
        let selector = {}
        if (this.form.accountType)
          selector.accountTypeId = this.form.accountType
        if (this.form.searchText) {
          selector.$or = [
            { code: { $regex: this.form.searchText, $options: 'i' } },
            { name: { $regex: this.form.searchText, $options: 'i' } },
          ]
        }

        getChartAccountsDataTable
          .callPromise({ selector, query })
          .then(res => {
            this.tableData = res.data
            this.tableTotal = res.total
            this.loading = false
          })
          .catch(err => {
            console.log(err)
            this.loading = false
            Notify.error({ message: err.reason })
          })
      }
    },
    marginLeftStyle(row) {
      let count = (row.ancestors && row.ancestors.length) || 0
      let value = count * 10
      return value
    },
    handleRowClick(row) {
      // Check current row
      if (row._id === (this.activeRow && this.activeRow._id)) {
        this.activeRow = null
        this.$refs.tableRef.$refs.elTable.setCurrentRow(null)
      } else {
        this.activeRow = row
      }

      this.$emit('row-click', this.activeRow)
    },
    handleAccountTypeChange(val) {
      this.getTableData(this.tableQuery)
    },
  },
}
</script>

<style lang="scss" scoped>
.el-select .el-input {
  width: 100px;
}
</style>

