<template>
  <div>
    <!-- Form Filter -->
    <el-form
      ref="form"
      :inline="true"
      :model="form"
    >
      <el-form-item label="Date filter">
        <el-date-picker
          v-model="form.date"
          :format="pickerFormat"
          :picker-options="pickerOpts"
          type="daterange"
          start-placeholder="Start Date"
          end-placeholder="End Date"
        />
      </el-form-item>
      <el-form-item>
        <el-button
          type="primary"
          @click="submitForm"
        >
          <i class="fa fa-search" />
        </el-button>
      </el-form-item>

      <!-- Data Table -->
      <data-tables-server
        v-loading="loading"
        :data="tableData"
        :total="tableTotal"
        :table-props="tableProps"
        @query-change="getTableData"
      >
        <el-table-column
          v-for="title in tableTitles"
          :prop="title.prop"
          :label="title.label"
          :key="title.label"
        >
          <template slot-scope="scope">
            <span
              v-if="title.prop === 'refNum'"
              class="ra-text-link"
              @click="refClick(scope.row)"
            >
              {{ scope.row.refNum }}
            </span>
            <span v-else-if="title.prop === 'tranDate'">
              {{ scope.row.tranDate | date }}
            </span>
            <span v-else-if="title.prop === 'amount'">
              {{ scope.row.amount | number }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </template>
        </el-table-column>
      </data-tables-server>
    </el-form>
  </div>
</template>

<script>
import moment from 'moment'
import _ from 'lodash'

import Notify from '/imports/client/lib/notify'

import { dateRangePickerOpts } from '/imports/client/lib/date-picker-opts'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

import { getJournalsDataTable } from '../../api/journals/methods'

export default {
  name: 'JournalDataTable',
  props: {
    customFilter: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      // Form
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: dateRangePickerOpts,
      form: {
        date: '',
      },

      // Table
      loading: false,
      tableData: [],
      tableTotal: 0,
      tableTitles: [
        { prop: 'tranDate', label: 'Date' },
        { prop: 'refNum', label: 'Ref NO.' },
        { prop: 'journalType', label: 'Type' },
        { prop: 'currency', label: 'Currency' },
        { prop: 'amount', label: 'Amount' },
        { prop: 'memo', label: 'Memo' },
      ],
      tableProps: {
        height: `calc(100vh - 448px)`,
      },
      tableQuery: null,
    }
  },
  watch: {
    customFilter(val) {
      this.getTableData(this.tableQuery)
    },
  },
  methods: {
    // Get data
    getTableData(query) {
      if (query) {
        this.loading = true
        this.tableQuery = query

        // Selector
        let selector = {}
        if (this.customFilter) {
          selector = _.clone(this.customFilter)
        }

        if (this.form.date) {
          selector.tranDate = {
            $gte: moment(wrapCurrentTime(this.form.date[0]))
              .startOf('day')
              .toDate(),
            $lte: moment(wrapCurrentTime(this.form.date[1]))
              .endOf('day')
              .toDate(),
          }
        }

        getJournalsDataTable
          .callPromise({ selector, query })
          .then(res => {
            this.tableData = res.data
            this.tableTotal = res.total
            this.loading = false
          })
          .catch(err => {
            console.log(err)
            this.loading = false
            Notify.error({ message: err.reason })
          })
      }
    },
    submitForm() {
      this.getTableData(this.tableQuery)
    },
    refClick(row) {
      this.$emit('ref-click', row)
    },
  },
}
</script>

<style lang="scss" scoped>
</style>

