<template>
  <div>
    <!--Table List-->
    <el-form
      v-loading.body="loading"
      ref="form"
      :model="form"
    >
      <el-table
        :data="form.items"
        :header-cell-style="{'text-transform': 'uppercase', padding: '3px 0px'}"
        :cell-style="{padding: '3px 0px'}"
        :size="formSize"
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          type="index"
          label="No"
          width="40px"
        />

        <el-table-column
          prop="chartAccountId"
          label="Account"
          min-width="170px"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.chartAccountId'"
              :prop="'items.' + scope.$index + '.chartAccountId'"
              :rules="rules.chartAccountId"
              class="form-item"
              style="margin:0"
            >
              <el-select
                v-model="scope.row.chartAccountId"
                :size="formSize"
                filterable
                style="width: 100%"
                @change="handleChartAccountChange(scope.row)"
              >
                <el-option
                  v-for="doc in lookupChartAccount"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                  :disabled="doc.isParent"
                >
                  <span v-html="doc.labelCustom" />
                </el-option>
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="dr"
          label="DR"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.dr'"
              :prop="'items.' + scope.$index + '.dr'"
              :rules="rules.dr"
              class="form-item"
              style="margin:0"
            >
              <el-input-number
                v-model="scope.row.dr"
                controls-position="right"
                size="mini"
                @change="handleDrChange(scope.$index)"
              />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="cr"
          label="CR"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.cr'"
              :prop="'items.' + scope.$index + '.cr'"
              :rules="rules.cr"
              class="form-item"
              style="margin:0"
            >
              <el-input-number
                :min="0"
                v-model="scope.row.cr"
                controls-position="right"
                size="mini"
                @change="handleCrChange(scope.$index)"
              />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="memo"
          label="Memo"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.memo'"
              :prop="'items.' + scope.$index + '.memo'"
              class="form-item"
              style="margin:0"
            >
              <el-input
                v-model="scope.row.memo"
                size="mini"
              />
            </el-form-item>
          </template>
        </el-table-column>

        <el-table-column
          prop="classId"
          label="Class"
        >
          <template slot-scope="scope">
            <el-form-item
              :key="scope.$index + '.classId'"
              :prop="'items.' + scope.$index + '.classId'"
              class="form-item"
              style="margin:0"
            >
              <el-select
                v-model="scope.row.classId"
                :size="formSize"
                filterable
              >
                <el-option
                  v-for="doc in lookupClassification"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                />
              </el-select>
            </el-form-item>
          </template>
        </el-table-column>

        <!-- Action -->
        <el-table-column
          header-align="center"
          align="left"
          width="60px"
        >
          <template
            slot="header"
            slot-scope="scope"
          >
            <i class="el-icon-menu popover-icon" />
          </template>

          <template slot-scope="scope">
            <i
              v-if="visibleRemoveAction()"
              class="el-icon-remove remove-action"
              @click="removeRowByIndex(scope.row)"
            />
            <i
              v-if="visibleNewAction(scope.$index)"
              class="el-icon-circle-plus new-action"
              @click="addEmptyRow(1)"
            />
          </template>
        </el-table-column>
      </el-table>
    </el-form>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import { lookupChartAccount } from '../../api/lookups/chartAccount.js'
import { lookupClassification } from '../../api/lookups/classification.js'

export default {
  name: 'JournalItemDetail',
  components: {},
  props: {
    items: {
      type: Array,
      default: function() {
        return []
      },
    },
    columns: {
      type: Array,
      default: function() {
        return ['chartAccountId', 'dr', 'cr', 'memo', 'classId']
      },
    },
    rows: {
      type: Number,
      default: 2,
    },
    minRow: {
      type: Number,
      default: 0,
    },
    totalDifference: {
      type: Number,
      default: 0,
    },
    submitEvent: {
      type: Number,
      default: 0,
    },
  },
  data() {
    // Validate
    const validateDr = (rule, value, callback) => {
      if (value < 0) {
        callback(new Error('Error'))
      } else {
        let splitVal = _.split(rule.field, '.')
        if (value === 0 && this.form.items[splitVal[1].cr] === 0) {
          callback(new Error('Error'))
        }
        callback()
      }
    }

    const validateCr = (rule, value, callback) => {
      if (value < 0) {
        callback(new Error('Error'))
      } else {
        let splitVal = _.split(rule.field, '.')
        if (value === 0 && this.form.items[splitVal[1].dr] === 0) {
          callback(new Error('Error'))
        }
        callback()
      }
    }

    return {
      loading: false,
      removeAction: false,
      //   items: [],
      lookupChartAccount: [],
      lookupClassification: [],
      checkedMoreColumns: this.columns,
      formSize: 'mini',
      form: {
        items: this.items,
      },
      rules: {
        chartAccountId: [{ required: true }],
        dr: [{ validator: validateDr, trigger: 'blur' }],
        cr: [{ validator: validateCr, trigger: 'blur' }],
      },
    }
  },
  watch: {
    items: {
      handler(newVal) {
        // Check exist default value
        if (newVal.length) {
          this.form.items = newVal
          this.$nextTick(() => {
            this.emitToParent()
          })
        } else {
          this.form.items = []
          // this.addEmptyRow(this.rows)
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.getChartAccounts()
    this.getClassifications()
  },
  methods: {
    // Visible new action
    visibleNewAction(index) {
      return this.form.items.length - 1 === index
    },
    // Visible remove action
    visibleRemoveAction() {
      return this.form.items.length >= this.minRow + 1
    },

    getChartAccounts() {
      lookupChartAccount
        .callPromise({ status: 'Active' })
        .then(result => {
          this.lookupChartAccount = result
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    getClassifications() {
      lookupClassification
        .callPromise({
          status: 'Active',
          removed: { $ne: true },
        })
        .then(result => {
          this.lookupClassification = result
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    // Add new row
    addEmptyRow(count) {
      _.times(count, time => {
        const row = {
          chartAccountId: '',
          memo: '',
          classId: '',
          nameId: '',
          dr: 0,
          cr: 0,
        }

        this.form.items.push(row)
      })

      // this.emitToParent()
    },
    addRow(row) {
      this.form.items.push(row)
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    // Remove row
    removeRow(selector) {
      this.form.items = _.reject(this.form.items, selector)
      this.$nextTick(() => {
        this.emitToParent()
      })
    },

    // Remove row by index
    removeRowByIndex(item) {
      let index = this.form.items.indexOf(item)
      if (index !== -1) {
        this.form.items.splice(index, 1)
        this.$nextTick(() => {
          this.emitToParent()
        })
      }
    },
    handleChartAccountChange(row) {
      if (this.totalDifference > 0) {
        row.cr = this.totalDifference
      } else if (this.totalDifference < 0) {
        row.dr = -this.totalDifference
      }

      this.emitToParent()
    },
    handleDrChange(index) {
      this.form.items[index].cr = ''
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    handleCrChange(index) {
      this.form.items[index].dr = ''
      this.$nextTick(() => {
        this.emitToParent()
      })
    },
    submit() {
      this.$refs['form'].validate(valid => {
        this.$emit('submit-form', valid)
      })
    },
    emitToParent() {
      this.$emit('item-change', this.form.items)
    },
  },
}
</script>

<style lang="scss" scoped>
.new-icon {
  color: #409eff;
}
.new-action {
  color: #409eff;
  cursor: pointer;
  font-size: large;
  &:hover {
    color: #66b1ff;
  }
}

.remove-icon {
  color: #f56c6c;
}
.remove-action {
  color: #f56c6c;
  cursor: pointer;
  font-size: large;
  &:hover {
    color: #f78989;
  }
}

.form-item {
  margin-bottom: 0px;
}
.el-select {
  width: 100%;
}

.popover-icon {
  font-size: 16px;
}
</style>
