<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="5">
        <el-card shadow="never">
          <!-- Item Table -->
          <el-menu
            :default-active="activeCom"
            class="menu-setting"
          >
            <el-menu-item
              v-for="menu in menuItems"
              :key="menu.title"
              :index="menu.component"
              :disabled="!$userIsInRole(menu.roles)"
              @click="handleSelect(menu)"
            >
              <i :class="`${menu.icon}`" />
              <span>{{ menu.title }}</span>
            </el-menu-item>
          </el-menu>
        </el-card>
      </el-col>

      <el-col :span="19">
        <el-card shadow="never">
          <div
            slot="header"
            class="header"
          >
            <span>
              <!-- <i
                v-if="comIcon"
                :class="comIcon"
              /> -->
              {{ comTitle }}
            </span>
          </div>

          <!-- Dynamic Component -->
          <!-- <keep-alive> -->
          <component
            v-if="$userIsInRole(['account-setting'])"
            :is="activeCom"
            :parent-prop="parentProp"
          />
          <!-- </keep-alive> -->

        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import _ from 'lodash'

import Exchange from './Exchange.vue'
import Classification from './Classification.vue'
import AccountType from './AccountType.vue'
import ImportData from './ImportData.vue'
import ResetData from './ResetData.vue'

export default {
  name: 'AccountSetting',
  components: {
    Exchange,
    Classification,
    AccountType,
    ImportData,
    ResetData,
  },
  data() {
    return {
      activeCom: 'Exchange',
      comTitle: 'Exchange',
      comIcon: 'fas fa-exchange-alt',
      menuItems: [
        {
          title: 'Exchange',
          icon: 'fas fa-exchange-alt',
          component: 'Exchange',
          roles: ['account-setting'],
        },
        {
          title: 'Classification',
          icon: 'fas fa-tags',
          component: 'Classification',
          roles: ['account-setting'],
        },
        {
          title: 'Account Type',
          icon: 'fas fa-file-invoice-dollar',
          component: 'AccountType',
          roles: ['account-setting'],
        },
        {
          title: 'Import Data',
          icon: 'fas fa-file-import',
          component: 'ImportData',
          roles: ['account-setting'],
        },
        {
          title: 'Reset Data',
          icon: 'fas fa-trash-alt',
          component: 'ResetData',
          roles: ['super'],
        },
      ],
      parentProp: {},
    }
  },
  created() {
    let activeCom = _.find(this.menuItems, {
      component: this.$route.params.active,
    })
    if (activeCom) {
      this.activeCom = activeCom.component
      this.comTitle = activeCom.title
      this.comIcon = activeCom.icon
    }
  },
  methods: {
    handleSelect(com) {
      // Check parent prop
      if (com.title === 'Import Data') {
        this.parentProp = {
          typeOpts: [
            { label: 'Account Type', value: 'AccountType' },
            { label: 'Chart of Account', value: 'ChartOfAccount' },
          ],
          defaultType: 'AccountType',
          sampleFile: 'Accounting_Import.xlsx',
        }
      } else if (com.title === 'Reset Data') {
        this.parentProp = {
          typeOpts: [
            { label: 'Account Type', value: 'AccountType' },
            { label: 'Chart of Account', value: 'ChartOfAccount' },
          ],
          defaultType: 'AccountType',
        }
      }

      this.comTitle = com.title
      this.comIcon = com.icon
      this.activeCom = com.component
    },
  },
}
</script>

<style lang="scss" scoped>
.menu-setting {
  height: calc(100vh - 196px);
}
</style>
