<template>
  <div>
    <el-row :gutter="20">
      <!-- Item -->
      <el-col :span="6">
        <ChartAccountDataTable @row-click="handleItemClick" />
      </el-col>

      <!-- Detail -->
      <el-col :span="18">
        <el-card shadow="never">
          <div
            slot="header"
            class="header"
          >
            <span v-if="activeChartAccount">
              {{ activeChartAccount.code }} : {{ activeChartAccount.name }},
              Type: {{ activeChartAccount.accountTypeDoc.name }},
              Status: {{ activeChartAccount.status }}
            </span>
            <span v-else>No item selected</span>

            <span class="float-right-btn">
              <el-button
                v-if="activeChartAccount"
                :disabled="!$userIsInRole(['account-setting'])"
                type="text"
                title="Edit"
                @click="showItem"
              >
                <i class="fas fa-pencil-alt fa-lg" />
              </el-button>
              <el-button
                :disabled="!$userIsInRole(['account-setting'])"
                type="text"
                title="New"
                @click="handleLinkBtnClick({name: 'ChartAccountForm'})"
              >
                <i class="fas fa-plus fa-lg" />
              </el-button>
              <el-button
                :disabled="!$userIsInRole(['account-setting'])"
                type="text"
                title="Setting"
                @click="handleLinkBtnClick({name: 'AccountSetting'})"
              >
                <i class="fas fa-cog fa-lg" />
              </el-button>
            </span>
          </div>

          <el-row :gutter="50">
            <!-- Tool -->
            <el-col :span="10">
              <el-button
                :disabled="!$userIsInRole(['journal-insert'])"
                size="default"
                type="primary"
                style="width: 100%"
                @click="handleLinkBtnClick({name: 'JournalForm'})"
              >
                Make Journal
              </el-button>
            </el-col>

            <!-- Card Panel -->
            <el-col :span="14">
              <div class="card-panel">
                <div class="card-panel-icon-wrapper icon-primary">
                  <i class="fas fa-home" />
                </div>
                <div class="card-panel-description">
                  <div class="card-panel-text">Balance as of today</div>
                  <count-to
                    :start-val="0"
                    :end-val="0"
                    class="card-panel-num"
                  />
                </div>
              </div>
            </el-col>
          </el-row>
          <div class="ra-mt-md" />

          <!-- Transaction -->
          <JournalDataTable
            :custom-filter="tranFilter"
            @ref-click="handleTranClick"
          />

        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import CountTo from 'vue-count-to'

import Notify from '/imports/client/lib/notify'

import ChartAccountDataTable from '../components/ChartAccountDataTable'
import JournalDataTable from '../components/JournalDataTable'

export default {
  name: 'AccountCenter',
  components: {
    CountTo,
    ChartAccountDataTable,
    JournalDataTable,
  },
  data() {
    return {
      activeChartAccount: null,
    }
  },
  computed: {
    tranFilter() {
      let filter = {}
      if (this.activeChartAccount && this.activeChartAccount._id) {
        filter = {
          details: {
            $elemMatch: { chartAccountId: this.activeChartAccount._id },
          },
        }
      }
      return filter
    },
  },
  mounted() {},
  methods: {
    // Edit Item
    showItem() {
      if (this.activeChartAccount && this.activeChartAccount._id) {
        this.$router.push({
          name: 'ChartAccountForm',
          params: { showId: this.activeChartAccount._id },
        })
      } else {
        Notify.error({ message: 'Chart account do not selecte' })
      }
    },
    handleLinkBtnClick(route) {
      this.$router.push(route)
    },
    handleItemClick(val) {
      this.activeChartAccount = val
    },
    handleTranClick(val) {
      this.$router.push({
        name: 'JournalForm',
        params: { _id: val._id },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
