<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :form-type="formType"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    />

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span
            v-if="title.prop === 'code'"
            class="ra-text-link"
            @click="edit(scope.row)"
          >
            {{ scope.row.code }}
          </span>
          <span v-else>{{ scope.row[title.prop] }}</span>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import softRemoveMixin from '/imports/client/mixins/soft-remove'
import restoreMixin from '/imports/client/mixins/restore'
import removeMixin from '/imports/client/mixins/remove'

// Table Action
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import {
  findAccountTypes,
  softRemoveAccountType,
  restoreAccountType,
  removeAccountType,
} from '../../api/account-types/methods'

import AccountTypeForm from './AccountTypeForm.vue'

export default {
  name: 'AccountType',
  components: { TableToolbar, TableAction, AccountTypeForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      tableData: [],
      tableTitles: [
        { prop: 'code', label: 'Code' },
        { prop: 'name', label: 'Name' },
        { prop: 'nature', label: 'Nature' },
        { prop: 'memo', label: 'Memo' },
      ],
      tableFilters: [
        {
          prop: ['code', 'name', 'nature'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'code',
      order: 'ascending',
    }
    this.tableProps.height = `calc(100vh - 325px)`
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findAccountTypes
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Add new
    addNew() {
      this.formType = 'New'
      this.currentModal = AccountTypeForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        actions.push('restore')
        actions.push('remove')
      } else {
        actions.push('softRemove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentModal = AccountTypeForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    softRemove(row) {
      this.$_softRemoveMixin({
        meteorMethod: softRemoveAccountType,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    restore(row) {
      this.$_restoreMixin({
        meteorMethod: restoreAccountType,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeAccountType,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/main.scss';
</style>
