<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :title="formType + ' Account Type'"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="Nature type"
              prop="nature"
            >
              <el-select
                v-model="form.nature"
                style="width: 100%"
              >
                <el-option
                  v-for="item in natureOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="Code"
              prop="code"
            >
              <el-input
                ref="code"
                v-model="form.code"
              />
            </el-form-item>
            <el-form-item
              label="Name"
              prop="name"
            >
              <el-input
                ref="name"
                v-model="form.name"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="Status"
              prop="status"
            >
              <el-select
                v-model="form.status"
                style="width: 100%"
              >
                <el-option
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="Memo"
              prop="memo"
            >
              <el-input
                v-model="form.memo"
                type="textarea"
              />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >Save</el-button>
        <el-button
          v-if="formType === 'Edit'"
          type="danger"
          @click="remove"
        >Delete</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>

    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import LookupValue from '../lib/lookup-value'
import removeMixin from '/imports/client/mixins/remove'
import {
  findOneAccountType,
  insertAccountType,
  updateAccountType,
  removeAccountType,
} from '../../api/account-types/methods'

export default {
  name: 'AccountTypeForm',
  mixins: [removeMixin],
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const _id = this.updateDoc && this.updateDoc._id
    const validateCode = (rule, value, callback) => {
      if (value) {
        findOneAccountType
          .callPromise({
            selector: {
              _id: {
                $ne: _id,
              },
              code: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Code exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateName = (rule, value, callback) => {
      if (value) {
        findOneAccountType
          .callPromise({
            selector: {
              _id: {
                $ne: _id,
              },
              name: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      natureOpts: LookupValue.natureAccount,
      statusOpts: LookupValue.status,
      form: {
        code: '',
        name: '',
        nature: '',
        status: '',
        memo: '',
      },
      rules: {
        code: [
          { required: true, message: 'Code is required' },
          { validator: validateCode, trigger: 'blur' },
        ],
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        nature: [{ required: true, message: 'Nature is required' }],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  watch: {
    updateDoc: {
      immediate: true,
      handler: function(val) {
        if (this.formType == 'Edit') {
          this.form = val
        } else {
          this.form = {
            code: '',
            name: '',
            nature: '',
            status: '',
            memo: '',
          }
        }
      },
      deep: true,
    },
  },
  methods: {
    autofocus(refName) {
      this.$refs[refName].$el.querySelector('input').focus()
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Check form type
          if (this.formType === 'New') {
            insertAccountType
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          } else {
            // Pick data
            const doc = _.pick(this.form, [
              '_id',
              'code',
              'name',
              'nature',
              'status',
              'memo',
            ])
            updateAccountType
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                  this.handleModalClose()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          }
        } else {
          return false
        }
      })
    },
    remove() {
      this.$_removeMixin({
        meteorMethod: removeAccountType,
        selector: {
          _id: this.updateDoc._id,
        },
        successMethod: 'handleModalClose',
        loading: 'loading',
        // title: row.title,
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
      this.autofocus('code')
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
