<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="5">
        <el-card shadow="never">
          <!-- Item Table -->
          <el-menu
            :default-active="activeCom"
            class="menu-setting"
          >
            <el-menu-item
              v-for="menu in menuItems"
              :key="menu.title"
              :index="menu.component"
              :disabled="menu.roles ? !$userIsInRole(menu.roles) : false"
              @click="handleSelect(menu)"
            >
              <i :class="`${menu.icon}`" />
              <span>{{ menu.title }}</span>
            </el-menu-item>
          </el-menu>
        </el-card>
      </el-col>

      <el-col :span="19">
        <el-card shadow="never">
          <div
            slot="header"
            class="header"
          >
            <span>
              <!-- <i
                v-if="comIcon"
                :class="comIcon"
              /> -->
              {{ comTitle }}
            </span>
          </div>

          <!-- Dynamic Component -->
          <!-- <keep-alive> -->
          <component
            :is="activeCom"
            :parent-prop="parentProp"
          />
          <!-- </keep-alive> -->
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import _ from 'lodash'

import UserProfile from './UserProfile.vue'
import Employee from './Employee.vue'
import User from './User.vue'
import RoleGroup from './RoleGroup.vue'
import Branch from './Branch.vue'
import Company from './Company.vue'
import ImportData from './ImportData.vue'
import ResetData from './ResetData.vue'

export default {
  name: 'AdminSetting',
  components: {
    UserProfile,
    Employee,
    User,
    RoleGroup,
    Branch,
    Company,
    ImportData,
    ResetData,
  },
  data() {
    return {
      activeCom: 'UserProfile',
      comTitle: 'Profile',
      comIcon: 'fas fa-user-circle',
      menuItems: [
        {
          title: 'Profile',
          icon: 'fas fa-user-circle',
          component: 'UserProfile',
        },
        {
          title: 'Employee',
          icon: 'fas fa-people-carry',
          component: 'Employee',
          roles: ['admin-setting'],
        },
        {
          title: 'User',
          icon: 'fas fa-users',
          component: 'User',
          roles: ['admin-setting'],
        },
        {
          title: 'Group',
          icon: 'fas fa-layer-group',
          component: 'RoleGroup',
          roles: ['admin-setting'],
        },
        {
          title: 'Branch',
          icon: 'fas fa-code-branch',
          component: 'Branch',
          roles: ['admin-setting'],
        },
        {
          title: 'Company',
          icon: 'fas fa-building',
          component: 'Company',
          roles: ['admin-setting'],
        },
        {
          title: 'Import Data',
          icon: 'fas fa-file-import',
          component: 'ImportData',
          roles: ['admin-setting'],
        },
        {
          title: 'Reset Data',
          icon: 'fas fa-trash-alt',
          component: 'ResetData',
          roles: ['super'],
        },
      ],
      parentProp: {},
    }
  },
  created() {
    let activeCom = _.find(this.menuItems, {
      component: this.$route.params.active,
    })
    if (activeCom) {
      this.activeCom = activeCom.component
      this.comTitle = activeCom.title
      this.comIcon = activeCom.icon
    }
  },
  methods: {
    handleSelect(com) {
      // Check parent prop
      if (com.title === 'Import Data') {
        this.parentProp = {
          typeOpts: [{ label: 'Employee', value: 'Employee' }],
          defaultType: 'Employee',
          sampleFile: 'Admin_Import.xlsx',
        }
      } else if (com.title === 'Reset Data') {
        this.parentProp = {
          typeOpts: [{ label: 'Employee', value: 'Employee' }],
          defaultType: 'Employee',
        }
      }

      this.comTitle = com.title
      this.comIcon = com.icon
      this.activeCom = com.component
    },
  },
}
</script>

<style lang="scss" scoped>
.menu-setting {
  height: calc(100vh - 196px);
}
</style>
