<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      width="70%"
    >
      <!-- Dialog Title -->
      <template slot="title">
        <i :class="'fas fa-' + (formType === 'New' ? 'plus' : 'pencil-alt')" /> Branch
      </template>

      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="150px"
      >
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="Name"
              prop="name"
            >
              <el-input v-model="form.name" />
            </el-form-item>

            <el-form-item
              label="Short Name"
              prop="shortName"
            >
              <el-input v-model="form.shortName" />
            </el-form-item>

            <el-form-item
              label="Address"
              prop="address"
            >
              <el-input
                v-model="form.address"
                type="textarea"
              />
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="Telephone"
              prop="telephone"
            >
              <el-input v-model="form.telephone" />
            </el-form-item>

            <el-form-item
              label="Email"
              prop="email"
            >
              <el-input v-model="form.email" />
            </el-form-item>

          </el-col>
        </el-row>
      </el-form>
      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >
          Save
        </el-button>
        <el-button
          v-if="formType === 'Edit' && $userIsInRole(['super'])"
          type="danger"
          @click="remove"
        >Delete</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'
import removeMixin from '/imports/client/mixins/remove'
import {
  insertBranch,
  updateBranch,
  removeBranch,
} from '../../api/branches/methods'

export default {
  name: 'BranchForm',
  mixins: [removeMixin],
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      loading: false,
      form: {
        name: '',
        shortName: '',
        address: '',
        telephone: '',
        email: '',
      },
      rules: {
        name: [{ required: true, message: 'Name is required' }],
        shortName: [{ required: true, message: 'Short name is required' }],
        address: [{ required: true, message: 'Address is required' }],
        telephone: [{ required: true, message: 'Telephone is required' }],
        email: [
          {
            type: 'email',
            message: 'Email is not a valid email',
          },
        ],
      },
    }
  },
  watch: {
    updateDoc: {
      handler: function(val) {
        if (this.formType == 'Edit') {
          this.form = {
            _id: val._id,
            name: val.name,
            shortName: val.shortName,
            address: val.address,
            telephone: val.telephone,
            email: val.email,
          }
        } else {
          this.form = {
            name: '',
            shortName: '',
            address: '',
            telephone: '',
            email: '',
          }
        }
      },
      immediate: true,
      deep: true,
    },
  },
  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick data
          const doc = _.clone(this.form)
          if (!doc.email) {
            delete doc.email
          }

          if (this.formType == 'New') {
            console.log(doc)

            insertBranch
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          } else {
            updateBranch
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.handleModalClose()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          }
        } else {
          return false
        }
      })
    },
    remove() {
      this.$_removeMixin({
        meteorMethod: removeBranch,
        selector: {
          _id: this.updateDoc._id,
        },
        successMethod: 'handleModalClose',
        loading: 'loading',
        // title: row.title,
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
