<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :update-doc="updateDoc"
      :form-type="formType"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    />

    <!-- Toolbar -->
    <TableToolbar
      v-if="$userIsInRole(['super'])"
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span
            v-if="title.prop === '_id'"
            class="ra-text-link"
            @click="edit(scope.row)"
          >
            {{ scope.row._id }}
          </span>
          <span v-else>{{ scope.row[title.prop] }}</span>
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import removeMixin from '/imports/client/mixins/remove'

// Table
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import { findBranches, removeBranch } from '../../api/branches/methods'

import BranchForm from './BranchForm'

export default {
  name: 'Branch',
  components: { TableToolbar, TableAction, BranchForm },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: '',
      tableData: [],
      tableTitles: [
        { label: 'ID', prop: '_id' },
        { label: 'Name', prop: 'name' },
        { label: 'Short Name', prop: 'shortName' },
        { label: 'Address', prop: 'address' },
        { label: 'Telephone', prop: 'telephone' },
        { label: 'Email', prop: 'email' },
      ],
      tableFilters: [
        {
          prop: ['_id', 'name', 'shortName'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: '_id',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findBranches
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Add new
    addNew() {
      this.formType = 'New'
      this.currentModal = BranchForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        // actions.push('restore')
        // actions.push('remove')
      } else {
        // actions.push('softRemove')
        actions.push('remove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentModal = BranchForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeBranch,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/main.scss';
</style>
