<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :form-type="formType"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    />

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        prop="code"
        label="Code"
      >
        <template slot-scope="scope">

          <span
            class="ra-text-link"
            @click="edit(scope.row)"
            v-html="indentFormat(scope.row)"
          >
            {{ scope.row.code }}
          </span>
        </template>
      </el-table-column>

      <el-table-column
        prop="name"
        label="Name"
      />

      <el-table-column
        prop="parentDoc.name"
        label="Parent"
      />

      <el-table-column
        prop="accountTypeDoc.name"
        label="Type"
      />

      <el-table-column
        prop="memo"
        label="Memo"
      />

      <el-table-column
        prop="status"
        label="Status"
      />

      <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          />
        </template>
      </el-table-column>
    </data-tables>
  </div>
</template>

<script>
import _ from 'lodash'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import softRemoveMixin from '/imports/client/mixins/soft-remove'
import restoreMixin from '/imports/client/mixins/restore'
import removeMixin from '/imports/client/mixins/remove'

// Table Action
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import ChartAccountForm from './ChartAccountForm.vue'

import {
  findChartAccounts,
  softRemoveChartAccount,
  restoreChartAccount,
  removeChartAccount,
} from '../../api/chart-accounts/methods'
import ChartAccountFormVue from './ChartAccountForm.vue'

export default {
  name: 'ChartAccount',
  components: { TableToolbar, TableAction, ChartAccountForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      tableData: [],
      tableFilters: [
        {
          prop: ['_id', 'code', 'name', 'shortName'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'order',
      order: 'ascending',
    }
    this.tableProps.height = `calc(100vh - 325px)`
  },
  mounted() {
    this.getData()
  },
  methods: {
    // Get data
    getData() {
      this.loading = true

      findChartAccounts
        .callPromise({ selector: {} })
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },

    // Add new
    addNew() {
      this.formType = 'New'
      this.currentModal = ChartAccountFormVue
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Table Formatter
    indentFormat(row) {
      let count = (row.ancestors && row.ancestors.length) || 0
      let value = _.repeat('&nbsp;', count * 5) + row.code
      return value
    },
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      actions.push('remove')
      // if (row.removed) {
      //   actions.push('restore')
      //   actions.push('remove')
      // } else {
      //   actions.push('softRemove')
      // }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentModal = ChartAccountFormVue
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    softRemove(row) {
      this.$_softRemoveMixin({
        meteorMethod: softRemoveChartAccount,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    restore(row) {
      this.$_restoreMixin({
        meteorMethod: restoreChartAccount,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeChartAccount,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.code,
      })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
