<template>
  <el-card shadow="never">
    <div
      slot="header"
      class="header"
    >
      <span><i :class="showId ? 'fas fa-edit' : 'fas fa-plus'" /> Chart of Account</span>

      <span class="float-right-btn">
        <el-button
          :disabled="!$userIsInRole(['account-setting'])"
          type="primary"
          icon="fas fa-save fa-lg"
          title="Save"
          @click="submit"
        />
        <el-button
          v-if="showId"
          :disabled="!$userIsInRole(['account-setting'])"
          type="danger"
          icon="fas fa-trash-alt fa-lg"
          title="Remove"
          @click="remove"
        />
        <el-button
          type="default"
          icon="fas fa-undo fa-lg"
          title="Cancel"
          @click="cancel"
        />
      </span>
    </div>

    <!-- Body -->
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      label-width="150px"
    >
      <el-row :gutter="20">
        <el-col :span="10">
          <el-form-item
            label="Account type"
            prop="accountTypeId"
          >
            <el-select
              v-model="form.accountTypeId"
              :placeholder="accountTypeLoading"
              style="width: 100%"
              @change="handleAccountTypeChange"
            >
              <el-option
                v-for="item in lookupAccountType"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
                <span v-html="item.labelCustom" />
              </el-option>
            </el-select>
          </el-form-item>
          <fieldset
            class="ra-fieldset"
            style="height: 210px"
          >
            <legend>Description:</legend>
            {{ accountTypeMemo }}
          </fieldset>
        </el-col>

        <el-col :span="14">
          <el-form-item
            label="Parent account"
            prop="parent"
          >
            <el-select
              v-model="form.parent"
              :placeholder="parentLoading"
              filterable
              clearable
              style="width: 100%"
            >
              <el-option
                v-for="item in parentAccountOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              >
                <span v-html="item.labelCustom" />
              </el-option>
            </el-select>
          </el-form-item>

          <el-form-item
            label="Account code"
            prop="code"
          >
            <el-input
              v-model="form.code"
              placeholder="eg. 11010"
            />
          </el-form-item>

          <el-form-item
            label="Account name"
            prop="name"
          >
            <el-input v-model="form.name" />
          </el-form-item>
          <el-form-item
            label="Status"
            prop="status"
          >
            <el-select
              v-model="form.status"
              style="width: 100%"
            >
              <el-option
                v-for="item in statusOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            label="Memo"
            prop="memo"
          >
            <el-input
              v-model="form.memo"
              type="textarea"
            />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
  </el-card>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Libs
import LookupValue from '../lib/lookup-value'
import removeMixin from '/imports/client/mixins/remove'

import {
  lookupAccountType,
  lookupChartAccount,
} from '../../api/lookups/chartAccount.js'
import {
  findOneChartAccount,
  insertChartAccount,
  updateChartAccount,
  removeChartAccount,
} from '../../api/chart-accounts/methods'

export default {
  name: 'ChartAccountForm',
  mixins: [removeMixin],
  props: {
    showId: {
      type: String,
      default: '',
    },
  },
  data() {
    const validateCode = (rule, value, callback) => {
      if (value) {
        let selector = {
          _id: {
            $ne: this.showId,
          },
          code: value,
        }

        findOneChartAccount
          .callPromise({ selector })
          .then(result => {
            if (result) {
              callback(new Error('Code exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateName = (rule, value, callback) => {
      if (value) {
        findOneChartAccount
          .callPromise({
            selector: {
              _id: {
                $ne: this.showId,
              },
              name: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      accountTypeLoading: 'Select',
      parentLoading: 'Select',
      lookupAccountType: [],
      accountTypeMemo: 'Description of account type...',
      parentAccountOpts: [],
      statusOpts: LookupValue.status,
      form: {
        accountTypeId: '',
        parent: '',
        code: '',
        name: '',
        status: '',
        memo: '',
      },
      rules: {
        accountTypeId: [
          { required: true, message: 'Account type is required' },
        ],
        code: [
          { required: true, message: 'Code is required' },
          {
            min: 4,
            max: 10,
            message: 'Code must be at least 4 to 10 charaters',
          },
          { validator: validateCode, trigger: 'blur' },
        ],
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  activated() {
    if (this.showId) {
      this.getDataUpdate()
    }
    this.init()
  },
  methods: {
    // Init
    init() {
      this.getAccountTypes()
    },

    // Get data update
    getDataUpdate() {
      this.loading = true

      findOneChartAccount
        .callPromise({ selector: { _id: this.showId } })
        .then(res => {
          this.form = res
          this.loading = false
        })
        .catch(err => {
          console.log(err)
          this.loading = false
          Notify.error({ message: err.reason })
        })
    },

    // Get account types
    getAccountTypes() {
      this.accountTypeLoading = 'Loading...'

      lookupAccountType
        .callPromise({
          status: 'Active',
        })
        .then(result => {
          this.lookupAccountType = result
          this.accountTypeLoading = 'Select'

          if (this.showId) {
            // Trigger account type change
            this.$nextTick(() => {
              const accountTypeId = this.form.accountTypeId
              this.handleAccountTypeChange(accountTypeId, false)
            })
          }
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },

    // Account type change
    handleAccountTypeChange(val, clearVal = true) {
      // Get Account Type Memo
      let accountType = _.find(this.lookupAccountType, { value: val })
      this.accountTypeMemo = accountType.memo || ''

      this.getChartAccounts(val, clearVal)
    },

    // Get chart accounts
    getChartAccounts(accountType, clearVal) {
      this.parentLoading = 'Loading...'
      lookupChartAccount
        .callPromise({
          accountTypeId: accountType,
          status: 'Active',
        })
        .then(result => {
          if (this.showId) {
            this.parentAccountOpts = result
            this.parentLoading = 'Select'

            this.$nextTick(() => {
              clearVal ? (this.form.parent = '') : ''
            })
          } else {
            this.form.parent = ''
            this.parentAccountOpts = result
            this.parentLoading = 'Select'
          }
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },

    // Submit form
    submit() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Check form type
          if (this.showId) {
            // Pick data
            const doc = _.pick(this.form, [
              '_id',
              'accountTypeId',
              'parent',
              'code',
              'name',
              'status',
              'memo',
            ])
            updateChartAccount
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.cancel()
                }
              })
              .catch(error => {
                console.log(error)
                this.loading = false
                Notify.error({ message: error })
              })
          } else {
            insertChartAccount
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.reset()

                  // Reset parent
                  this.form.parent = ''
                  this.getChartAccounts(null)
                }
              })
              .catch(error => {
                console.log(error)
                this.loading = false
                Notify.error({ message: error.reason })
              })
          }
        } else {
          return false
        }
      })
    },

    // Remove
    remove() {
      this.$_removeMixin({
        meteorMethod: removeChartAccount,
        selector: {
          _id: this.showId,
        },
        successMethod: 'cancel',
        loading: 'loading',
        // title: row.title,
      })
    },

    // Reset form
    reset() {
      this.$refs['form'].resetFields()
    },

    // Cancle Form
    cancel() {
      this.$store.dispatch('app/delView').then(res => {
        this.$router.back()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
