<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      :title="formType + ' Classification'"
    >
      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-form-item
          label="Name"
          prop="name"
        >
          <el-input
            ref="name"
            v-model="form.name"
          />
        </el-form-item>
        <el-form-item
          label="Status"
          prop="status"
        >
          <el-select
            v-model="form.status"
            style="width:100%"
          >
            <el-option
              v-for="item in statusOpts"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item
          label="Memo"
          prop="memo"
        >
          <el-input
            v-model="form.memo"
            type="textarea"
          />
        </el-form-item>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitFrom"
        >Save</el-button>
        <el-button
          v-if="formType === 'Edit'"
          type="danger"
          @click="remove"
        >Delete</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'
import LookupValue from '../lib/lookup-value'
import removeMixin from '/imports/client/mixins/remove'
import {
  findOneClassification,
  insertClassification,
  updateClassification,
  removeClassification,
} from '../../api/classifications/methods'
export default {
  name: 'ClassificationForm',
  mixins: [removeMixin],
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    const _id = this.updateDoc && this.updateDoc._id
    const validateName = (rule, value, callback) => {
      if (value) {
        findOneClassification
          .callPromise({
            selector: {
              _id: {
                $ne: _id,
              },
              name: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Name exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({
              message: error,
            })
          })
      }
    }
    return {
      loading: false,
      statusOpts: LookupValue.status,
      form: {
        name: '',
        status: '',
        memo: '',
      },
      rules: {
        name: [
          {
            required: true,
            message: 'Name is required',
          },
          {
            validator: validateName,
            trigger: 'blur',
          },
        ],
        status: [
          {
            required: true,
            message: 'Status is required',
          },
        ],
      },
    }
  },
  watch: {
    updateDoc: {
      immediate: true,
      handler: function(val) {
        if (this.formType == 'Edit') {
          this.form = val
        } else {
          this.form = {
            name: '',
            status: '',
            memo: '',
          }
        }
      },
      deep: true,
    },
  },
  mounted() {},
  methods: {
    submitFrom() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          // Check form type
          if (this.formType === 'New') {
            insertClassification
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          } else {
            // Pick data
            const doc = _.pick(this.form, ['_id', 'name', 'status', 'memo'])
            updateClassification
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                  this.handleModalClose()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          }
        } else {
          return false
        }
      })
    },
    remove() {
      this.$_removeMixin({
        meteorMethod: removeClassification,
        selector: {
          _id: this.updateDoc._id,
        },
        successMethod: 'handleModalClose',
        loading: 'loading',
        // title: row.title,
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
