<template>
  <div>
    <div class="login-form">
      <div class="login-input">
        <el-alert
          :closable="false"
          :center="true"
          title="Your account is expired."
          show-icon
          type="error"
        />
      </div>

      <div class="login-btn-panel">
        <el-button
          size="medium"
          type="primary"
          class="login-btn"
          @click="submit"
        >
          <i class="fas fa-sign-out-alt" />&nbsp;&nbsp;&nbsp;Logout
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'Confirm',
  data() {
    return {
      loadingLogout: false,
    }
  },
  computed: {
    userExpiryDay() {
      return this.$store.getters['app/userExpiryDay']
    },
  },
  watch: {
    userExpiryDay: {
      handler(val) {
        if (_.isUndefined(val) || val > 0) {
          this.$router.push({ name: 'Dashboard' })
        }
      },
      immediate: true,
    },
  },
  methods: {
    submit() {
      this.$store.dispatch('app/logout')
    },
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  padding: 1% 5% 5% 5%;
  width: 17%;
  margin: 0 auto;
}

.login-input {
  margin-top: 5%;
}

.login-btn-panel {
  height: 32px;
  margin-top: 5%;
  .el-button--primary,
  .login-btn {
    width: 100%;
    background-color: #ff782c;
    border: none;
    border-radius: 3px;
    font-size: 14 ផខ;
    /*letter-spacing: 1px;*/
    font-weight: 500;
    text-transform: uppercase;
  }
  .el-button--primary:hover,
  .login-btn:hover {
    background-color: #d35e1a;
  }
  .el-button--primary:focus,
  .login-btn:focus {
    background-color: #d35e1a;
  }
  .el-button--primary:active,
  .login-btn:active {
    background-color: #d35e1a;
  }
}

/*Fix Small Resolution*/
@media only screen and (max-width: 1600px) {
  .login-form {
    width: 20%;
  }
}
</style>
