<template>
  <el-card shadow="never">
    <!-- Check User Role -->
    <h3>
      User is in Role [super]: {{ $userIsInRole(['super']) }}<br>
      User is in Role [admin-setting]: {{ $userIsInRole(['admint-setting']) }}<br>
      User is in Role [account-setting]: {{ $userIsInRole(['account-setting']) }}<br>
    </h3>

    <!-- Box Info -->
    <h3>Box Info</h3>
    <el-row :gutter="30">
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-primary">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-success">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-info">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="30">
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-warning">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-danger">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="info-box">
          <span class="info-box-icon bg-aqua">
            <i class="fas fa-info-circle" />
          </span>
          <div class="info-box-content">
            <span class="info-box-text">Coming Soon</span>
            <span class="info-box-number">
              00
              <small>%</small>
            </span>
          </div>
        </div>
      </el-col>
    </el-row>

    <!-- Card Panel -->
    <h3>Card Panel</h3>
    <el-row :gutter="40">
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-primary">
            <i class="fas fa-home" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">New Visits</div>
            <count-to
              :start-val="0"
              :end-val="102400"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-success">
            <i class="fas fa-users" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">Messages</div>
            <count-to
              :start-val="0"
              :end-val="81212"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-info">
            <i class="fas fa-file" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">Purchases</div>
            <count-to
              :start-val="0"
              :end-val="9280"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
    </el-row>
    <div class="ra-mb-sm" />
    <el-row :gutter="40">
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-warning">
            <i class="fas fa-truck" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">Shoppings</div>
            <count-to
              :start-val="0"
              :end-val="13600"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-danger">
            <i class="fas fa-truck" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">Shoppings</div>
            <count-to
              :start-val="0"
              :end-val="13600"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
      <el-col
        :xs="12"
        :sm="12"
        :lg="8"
      >
        <div class="card-panel">
          <div class="card-panel-icon-wrapper icon-aqua">
            <i class="fas fa-truck" />
          </div>
          <div class="card-panel-description">
            <div class="card-panel-text">Shoppings</div>
            <count-to
              :start-val="0"
              :end-val="13600"
              class="card-panel-num"
            />
          </div>
        </div>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
import CountTo from 'vue-count-to'

export default {
  name: 'Dashboard',
  components: { CountTo },
  data() {
    return {}
  },
}
</script>

<style lang="scss" scoped>
</style>
