<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleClose"
      :close-on-click-modal="false"
      width="70%"
    >
      <!-- Dialog Title -->
      <template slot="title">
        <i :class="'fas fa-' + (formType === 'New' ? 'plus' : 'pencil-alt')" /> Employee
      </template>

      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="50">
          <el-col :span="12">
            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select v-model="form.branchId">
                <el-option
                  v-for="item in allowedBranchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Code"
              prop="code"
            >
              <el-input
                ref="code"
                v-model="form.code"
                :autofocus="true"
                :placeholder="codeLoading"
              >
                <el-button
                  slot="append"
                  icon=" fa fa-barcode"
                  @click="getNextRefNo"
                />
              </el-input>
            </el-form-item>
            <el-form-item
              label="Name"
              prop="name"
            >
              <el-input
                ref="name"
                v-model="form.name"
              />
            </el-form-item>
            <el-form-item
              label="Gender"
              prop="gender"
            >
              <el-radio-group v-model="form.gender">
                <el-radio
                  v-for="item in genderOpt"
                  :key="item.value"
                  :label="item.value"
                >
                  {{ item.label }}
                </el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>

          <el-col :span="12">
            <el-form-item
              label="Role"
              prop="role"
            >
              <el-select v-model="form.role">
                <el-option
                  v-for="doc in roleOpt"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Link User"
              prop="linkUser"
            >
              <el-select v-model="form.linkUser">
                <el-option
                  v-for="doc in linkUserOpt"
                  :key="doc.value"
                  :label="doc.label"
                  :value="doc.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="Status"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="item in statusOpt"
                  :key="item.value"
                  :label="item.value"
                />
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>

        <!-- Tab -->
        <el-tabs
          v-model="activeTabs"
          type="border-card"
          class="ra-mb"
        >
          <el-tab-pane
            label="Address"
            name="contact"
          >
            <el-row :gutter="50">
              <el-col :span="12">
                <el-form-item
                  label="Address"
                  prop="contact.address"
                >
                  <el-input
                    ref="contact.address"
                    :autosize="{minRows:4, maxRows:6}"
                    v-model="form.contact.address"
                    type="textarea"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item
                  ref="contact.phone"
                  label="Phone"
                  prop="contact.phone"
                >
                  <el-input v-model="form.contact.phone" />
                </el-form-item>
                <el-form-item
                  label="Email"
                  prop="contact.email"
                >
                  <el-input
                    ref="contact.email"
                    v-model="form.contact.email"
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-tab-pane>
          <el-tab-pane
            label="Account"
            name="employeeAccount"
          />
          <el-tab-pane
            label="Payroll"
            name="employeePayroll"
          />
        </el-tabs>
      </el-form>

      <span
        slot="footer"
        class="dialog-footer"
      >
        <el-button
          type="primary"
          @click="submitForm"
        >Save</el-button>
        <el-button
          v-if="formType === 'Edit'"
          type="danger"
          @click="remove"
        >Delete</el-button>
        <el-button @click="handleClose">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>


<script>
// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'
import { getNextRef } from '/imports/utils/get-next-ref'

import LookUpValue from '../lib/lookup-value'
import removeMixin from '/imports/client/mixins/remove'

import { lookupUser } from '../../api/lookups/user'

import {
  insertEmployee,
  updateEmployee,
  removeEmployee,
  findOneEmployee,
} from '../../api/employees/methods'

export default {
  name: 'EmployeeForm',
  mixins: [removeMixin],
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    // validate code not allow duplicate
    var validateCode = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('Code is requiered'))
      } else {
        const _id = this.updateDoc && this.updateDoc._id
        setTimeout(() => {
          let selector = {
            _id: {
              $ne: _id,
            },
            code: value,
            branchId: this.form.branchId,
          }
          findOneEmployee
            .callPromise({ selector })
            .then(result => {
              if (result) {
                callback(new Error('This code is exist'))
              } else {
                callback()
              }
            })
            .catch(error => {
              Notify.error({ message: error })
            })
        }, 300)
      }
    }
    return {
      genderOpt: LookUpValue.gender,
      statusOpt: LookUpValue.status,
      roleOpt: [
        { label: 'Employee', value: 'Employee' },
        { label: 'Collector', value: 'Collector' },
        { label: 'Sale Rep', value: 'SaleRep' },
      ],
      linkUserOpt: [],

      activeTabs: 'contact',
      codeLoading: 'eg. 1',
      form: {
        branchId: '',
        code: '',
        name: '',
        gender: 'M',
        role: '',
        linkUser: '',
        status: 'Active',
        contact: {
          address: '',
          phone: '',
          email: '',
        },
      },
      rules: {
        code: [
          { required: true },
          { validator: validateCode, trigger: 'blur' },
        ],
        name: [{ required: true }],
        gender: [{ required: true }],
        role: [{ required: true }],
        status: [{ required: true }],
        contact: {
          address: [{ required: true }],
        },
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    allowedBranchOpts() {
      return this.$store.getters['app/allowedBranchOpts']
    },
  },
  watch: {
    updateDoc: {
      immediate: true,
      handler: function(val) {
        if (this.formType == 'Edit') {
          this.form = val
        } else {
          this.form = {
            branchId: '',
            code: '',
            name: '',
            gender: 'M',
            role: '',
            linkUser: '',
            status: 'Active',
            contact: {
              address: '',
              phone: '',
              email: '',
            },
          }
        }
      },
      deep: true,
    },
  },
  created() {
    this.form.branchId = this.currentBranchId
  },
  mounted() {
    this.getNextRefNo()
    this.getUsers()
  },
  methods: {
    // Auto generate employee code
    getNextRefNo() {
      this.codeLoading = 'Loading....'
      getNextRef
        .callPromise({
          collectionName: 'app_employees',
          opts: {
            field: 'code',
            selector: {
              branchId: this.form.branchId,
            },
            paddingType: 'start',
            paddingLength: 4,
            paddingChar: '0',
            prefix: '',
          },
        })
        .then(result => {
          if (result) {
            if (this.formType == 'New') {
              this.form.code = result
              this.codeLoading = 'eg. 1'
            }
          }
        })
        .catch(error => {
          this.codeLoading = 'eg. 1'
          Notify.error({ message: error })
        })
    },
    getUsers() {
      lookupUser
        .callPromise({})
        .then(res => {
          this.linkUserOpt = res
        })
        .catch(err => {
          console.log(err)
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          // Check form type
          if (this.formType === 'New') {
            console.log(this.form)

            insertEmployee
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                  this.$refs.code.$el.querySelector('input').focus()
                }
              })
              .catch(err => {
                this.loading = false
                Notify.error({ message: err })
              })
          } else {
            updateEmployee
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.handleClose()
                }
              })
              .catch(err => {
                this.loading = false
                Notify.error({ message: err })
              })
          }
        } else {
          Notify.error({ message: 'Please check validation again...' })
          return false
        }
      })
    },
    remove() {
      this.$_removeMixin({
        meteorMethod: removeEmployee,
        selector: {
          _id: this.updateDoc._id,
        },
        successMethod: 'handleClose',
        loading: 'loading',
        // title: row.title,
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleClose() {
      // this.$router.push({ name: '.employee' })
      this.$emit('close-modal')
    },
  },
}
</script>

<style lang="scss" scoped>
.el-select {
  width: 100%;
}
</style>
