<template>
  <div>
    <component
      :is="currentDialog"
      :form-type="formType"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @close-modal="handleModalClose"
    />
    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="no"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            <span v-if="title.prop === 'date'">
              {{ scope.row.date | date }}
            </span>
            <span
              v-else-if="title.prop === 'code'"
              class="ra-text-link"
              @click="edit(scope.row)"
            >
              {{ scope.row.code }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </span>
        </template>
      </el-table-column>
      <!-- <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="70"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column> -->
    </data-tables>
  </div>
</template>
<script>
// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import softRemoveMixin from '/imports/client/mixins/soft-remove'
import restoreMixin from '/imports/client/mixins/restore'
import removeMixin from '/imports/client/mixins/remove'

// Table Action
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import EmployeeForm from './EmployeeForm.vue'

// Methods
import { findEmployees, removeEmployee } from '../../api/employees/methods'

export default {
  name: 'Employee',
  components: { TableToolbar, TableAction, EmployeeForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      formType: 'New',
      currentDialog: null,
      updateId: null,
      modalVisible: false,
      updateDoc: null,
      loading: false,
      // Datatable
      tableData: [],
      tableTitles: [
        { label: 'Code', prop: 'code' },
        { label: 'Name', prop: 'name' },
        { label: 'Gender', prop: 'gender' },
        { label: 'Phone', prop: 'phone' },
        { label: 'Role', prop: 'role' },
        { label: 'Link User', prop: 'linkUser' },
        { label: 'Status', prop: 'status' },
      ],
      tableFilters: [
        {
          prop: ['code', 'name', 'phone', 'status'],
          value: '',
        },
      ],
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'code',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findEmployees
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          Notify.error({ message: err })
        })
    },
    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    addNew() {
      this.formType = 'New'
      // this.$router.push({ name: '.employeeNew' })
      this.currentDialog = EmployeeForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        actions.push('restore')
      } else {
        actions.push('remove')
      }
      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      // this.$router.push({
      //   name: '.employeeEdit',
      //   params: { _id: row._id },
      // })
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentDialog = EmployeeForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeEmployee,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    handleModalClose() {
      this.getData()
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentDialog = null
        this.updateDoc = null
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
