<template>
  <div>
    <!-- Form -->
    <exchange-form
      :form-type="formType"
      :update-doc="updateDoc"
      @form-change="handleFormChange"
    />

    <!-- Data Table -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span :class="softRemoveClassName(scope.row.removed)">
            <span
              v-if="title.prop === 'exDate'"
              class="ra-text-link"
              @click="edit(scope.row)"
            >
              {{ scope.row.exDate | date }}
            </span>
            <span v-else>{{ scope.row[title.prop] }}</span>
          </span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <!-- <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="65"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          />
        </template>
      </el-table-column> -->
    </data-tables>
  </div>
</template>

<script>
import moment from 'moment'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import softRemoveMixin from '/imports/client/mixins/soft-remove'
import restoreMixin from '/imports/client/mixins/restore'

// Table Action
import TableAction from '/imports/client/components/TableAction.vue'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import ExchangeForm from './ExchangeForm.vue'

import { findExchanges } from '../../api/exchanges/methods'

export default {
  name: 'Exchange',
  components: { TableAction, ExchangeForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      updateDoc: null,
      tableData: [],
      tableTitles: [
        { label: 'Date', prop: 'exDate' },
        { label: 'USD', prop: 'usd' },
        { label: 'KHR', prop: 'khr' },
        { label: 'THB', prop: 'thb' },
      ],
    }
  },
  created() {
    // Extend data tables props (Mixin)
    // this.tableProps.defaultSort = {
    //   prop: 'name',
    //   order: 'ascending',
    // }
    this.tableProps.height = `calc(100vh - 437px)`
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findExchanges
        .callPromise()
        .then(result => {
          this.loading = false
          this.tableData = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },

    handleCommand(command) {
      this[command.action](command.row)
    },
    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        actions.push('restore')
        // actions.push('remove')
      } else {
        // actions.push('softRemove')
        actions.push('remove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Update'
      this.updateDoc = row
    },
    // softRemove(row) {
    //   this.$_softRemoveMixin({
    //     meteorMethod: softRemoveExchange,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },
    // restore(row) {
    //   this.$_restoreMixin({
    //     meteorMethod: restoreExchange,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },

    // Format
    dateFormatter(row, column, cellValue) {
      return moment(cellValue).format('DD/MM/YYYY')
    },
    handleFormChange() {
      this.formType = 'New'
      this.updateDoc = null
      this.getData()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/main.scss';
</style>
