<template>
  <div>
    <el-row :gutter="30">
      <el-col :span="12">
        <el-form
          v-loading="loading"
          ref="form"
          :model="form"
          :rules="rules"
          label-width="150px"
        >

          <el-form-item
            label="Import type"
            prop="importType"
          >
            <el-radio-group v-model="form.importType">
              <div
                v-for="item in parentProp.typeOpts"
                :key="item.value"
                style="margin-top: 10px;"
              >
                <el-radio :label="item.value">{{ item.label }}</el-radio>
              </div>
            </el-radio-group>
          </el-form-item>

          <el-form-item label="Import file">
            <el-upload
              ref="upload"
              :file-list="form.fileList"
              :auto-upload="false"
              :on-change="handleFileChange"
              :on-remove="handleFileRemove"
              class="upload-demo"
              action=""
              accept=".xlsx"
            >
              <el-button slot="trigger">Select file</el-button>
              <div
                slot="tip"
                class="el-upload__tip"
              >Excel files (.xlsx)</div>
            </el-upload>
          </el-form-item>

          <el-form-item>
            <el-button
              type="danger"
              @click="submitForm"
            >
              Import Data
            </el-button>
          </el-form-item>
        </el-form>
      </el-col>

      <el-col :span="12">
        <a
          :href="`/data/${parentProp.sampleFile}`"
          download
          target="_parent"
        >
          <el-button
            type="success"
            style="float: right;"
          >Download sample file</el-button>
        </a>
      </el-col>
    </el-row>
  </div>
</template>

<script>
// Message
import Notify from '/imports/client/lib/notify'

import FilesCollection from '/imports/api/files/files'
import { importData } from '/imports/api/data/import'

export default {
  name: 'ImportData',
  props: {
    parentProp: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      loading: false,
      form: {
        importType: this.parentProp.defaultType,
        fileList: [],
      },
      rules: {
        importType: [{ required: true }],
      },
    }
  },
  methods: {
    handleFileChange(file, fileList) {
      this.form.fileList = [file]
    },
    handleFileRemove(file, fileList) {
      this.form.fileList = []
    },
    submitForm() {
      const self = this

      self.$refs['form'].validate(valid => {
        if (valid && self.form.fileList.length) {
          this.$confirm(
            `Are you sure you would like to import data 
            [${this.form.importType}]?`,
            'Warning',
            { type: 'error' }
          )
            .then(() => {
              self.loading = true

              self.form.fileList.forEach(file => {
                FilesCollection.insert({
                  file: file.raw,
                  streams: 'dynamic',
                  chunkSize: 'dynamic',
                  onUploaded(err, fileObj) {
                    if (err) {
                      self.loading = false
                      Notify.error({ message: 'File upload is error' })
                    } else {
                      importData
                        .callPromise({
                          importType: self.form.importType,
                          fileName: fileObj._id,
                        })
                        .then(res => {
                          self.loading = false
                          Notify.success({
                            message: `Import data is success [${res}]`,
                          })
                        })
                        .catch(err => {
                          console.log(err)
                          self.loading = false
                          Notify.error({
                            message: `Error row no.: ${err.reason}`,
                          })
                        })
                    }
                  },
                })
              })
            })
            .catch(() => {
              console.log('Cancel import data')
            })
        } else {
          Notify.error({ message: 'Please check validation again...' })
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
