<template>
  <el-card shadow="never">
    <!-- Title -->
    <div
      slot="header"
      class="header"
    >
      <span><i :class="showId ? 'fas fa-edit' : 'fas fa-plus'" /> Journal</span>
      <span class="float-right-btn">
        <el-button
          v-if="!showId"
          :disabled="!$userIsInRole(['journal-insert'])"
          type="primary"
          icon="fas fa-save fa-lg"
          title="Save"
          @click="submit()"
        />
        <el-button
          v-else
          :disabled="!$userIsInRole(['journal-update'])"
          type="primary"
          icon="fas fa-save fa-lg"
          title="Save"
          @click="submit()"
        />

        <el-button
          v-if="showId"
          :disabled="!$userIsInRole(['journal-remove'])"
          type="danger"
          icon="fas fa-trash-alt fa-lg"
          title="Remove"
          @click="remove"
        />
        <el-button
          type="default"
          icon="fas fa-undo fa-lg"
          title="Cancle"
          @click="cancel"
        />
      </span>
    </div>

    <!-- Body -->
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      label-width="120px"
    >
      <el-row :gutter="10">
        <el-col :span="12">
          <el-form-item
            label="Branch ID"
            prop="branchId"
          >
            <el-select v-model="form.branchId">
              <el-option
                v-for="item in allowedBranchOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            label="Date"
            prop="tranDate"
          >
            <el-date-picker
              v-model="form.tranDate"
              type="date"
              format="dd/MM/yyyy"
            />
          </el-form-item>

          <el-form-item
            label="Journal Type"
            prop="journalType"
          >
            <el-select
              v-model="form.journalType"
              filterable
            >
              <el-option
                v-for="item in journalTypeOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            label="Currency"
            prop="currency"
          >
            <el-select
              v-model="form.currency"
              filterable
            >
              <el-option
                v-for="item in currencyOpts"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item
            label="Ref no."
            prop="refNum"
          >
            <el-input
              v-model="form.refNum"
              :placeholder="refNumLoading"
            >
              <el-button
                slot="append"
                icon=" fa fa-barcode"
                @click="getNextRefNum"
              />
            </el-input>
          </el-form-item>
          <el-form-item
            label="Memo"
            prop="memo"
          >
            <el-input
              v-model="form.memo"
              type="textarea"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <!--Sub Items List-->
      <JournalItemDetail
        ref="journalDetail"
        :items="accountDetailsInit"
        :total-difference="totalDifference"
        :rows="2"
        :min-row="0"
        @item-change="changeAccountDetail"
        @submit-form="submitJournalDetailForm"
      />
      <div class="ra-mt-sm" />

      <el-row :gutter="10">
        <el-col :span="12">
          <fieldset class="ra-fieldset total-fieldset">
            <legend>Total Debits:</legend>
            <span class="total">
              <count-to
                :start-val="0"
                :end-val="totalDebit"
                :decimals="company.setting.decimalNumber"
                :duration="500"
                :class="[totalValidateClassName]"
              />
            </span>
          </fieldset>
        </el-col>

        <el-col :span="12">
          <fieldset class="ra-fieldset total-fieldset">
            <legend>Total Credits:</legend>
            <span class="total">
              <count-to
                :start-val="0"
                :end-val="totalCredit"
                :decimals="company.setting.decimalNumber"
                :duration="500"
                :class="[totalValidateClassName]"
              />
            </span>
          </fieldset>
        </el-col>
      </el-row>
    </el-form>
  </el-card>
</template>

<script>
import moment from 'moment'
import CountTo from 'vue-count-to'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'
import { getNextRef } from '/imports/utils/get-next-ref'

// Libs
import LookupValue from '../lib/lookup-value'
import removeMixin from '/imports/client/mixins/remove'
import JournalItemDetail from '../components/JournalItemDetail.vue'
import {
  findOneJournal,
  insertJournal,
  updateJournal,
  removeJournal,
} from '../../api/journals/methods'

export default {
  name: 'JournalForm',
  components: { CountTo, JournalItemDetail },
  mixins: [removeMixin],
  data() {
    const _id = this.$route.params._id || ''
    var validateRefNum = (rule, value, callback) => {
      if (value) {
        findOneJournal
          .callPromise({
            selector: {
              _id: {
                $ne: _id,
              },
              refNum: value,
              branchId: this.form.branchId,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Ref num is exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      showId: this.$route.params._id,

      loading: false,
      refNumLoading: 'eg. 1',
      journalTypeOpts: LookupValue.journalType,
      currencyOpts: LookupValue.currency,
      accountDetailsInit: [],
      accountDetails: [],
      submitEvent: 0,
      totalDebit: 0,
      totalCredit: 0,
      totalDifference: 0,
      validItemDetail: false,
      paramId: this.$route.params._id,
      form: {
        branchId: '',
        refNum: '',
        tranDate: moment().toDate(),
        journalType: 'General',
        currency: 'USD',
        amount: 0,
        memo: '',
      },
      rules: {
        refNum: [
          { required: true, message: 'Ref no. is required' },
          { validator: validateRefNum, trigger: 'blur' },
        ],
        tranDate: [{ required: true, message: 'Date is required' }],
        journalType: [{ required: true, message: 'Journal type is required' }],
        currency: [{ required: true, message: 'Currency is required' }],
        memo: [{ required: true, message: 'Memo is required' }],
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    allowedBranchOpts() {
      return this.$store.getters['app/allowedBranchOpts']
    },
    company() {
      return this.$store.state.app.company
    },
    totalValidateClassName() {
      if (
        this.totalDebit <= 0 ||
        this.totalCredit <= 0 ||
        this.totalDebit !== this.totalCredit
      ) {
        return 'error'
      }

      return 'success'
    },
    saveBtnDisabled() {
      return this.totalValidateClassName !== 'success' ? true : false
    },
  },
  created() {
    this.form.branchId = this.currentBranchId
  },
  mounted() {
    if (this.showId) {
      this.getDataUpdate()
    } else {
      this.initAccountDetails()
      this.getNextRefNum()
    }
  },
  methods: {
    getDataUpdate() {
      this.loading = true

      findOneJournal
        .callPromise({ selector: { _id: this.showId } })
        .then(result => {
          // Journal
          this.form = {
            _id: result._id,
            refNum: result.refNum,
            tranDate: result.tranDate,
            journalType: result.journalType,
            currency: result.currency,
            amount: result.amount,
            memo: result.memo,
            branchId: result.branchId,
          }
          this.totalDebit = result.amount
          this.totalCredit = result.amount
          this.totalDifference = 0

          // Details
          result.detailDoc.forEach(item => {
            delete item._id
            delete item.amount
            delete item.journalId

            this.accountDetailsInit.push(item)
          })

          this.$nextTick(() => (this.loading = false))
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    initAccountDetails() {
      this.accountDetailsInit = [
        {
          chartAccountId: '',
          dr: 0,
          cr: 0,
          memo: '',
          classId: '',
          nameId: '',
        },
        {
          chartAccountId: '',
          dr: 0,
          cr: 0,
          memo: '',
          classId: '',
          nameId: '',
        },
      ]
    },
    changeAccountDetail(items) {
      let totalDebit = 0
      let totalCredit = 0
      items.forEach(item => {
        totalDebit += item.dr !== '' ? item.dr : 0
        totalCredit += item.cr !== '' ? item.cr : 0
      })

      this.totalDebit = totalDebit
      this.totalCredit = totalCredit
      this.totalDifference = totalDebit - totalCredit
      this.form.amount = totalDebit

      this.$nextTick(() => {
        this.accountDetails = items
      })
    },
    getNextRefNum() {
      this.refNumLoading = 'Loading....'

      getNextRef
        .callPromise({
          collectionName: 'app_journals',
          opts: {
            field: 'refNum',
            selector: {
              branchId: this.form.branchId,
            },
            paddingType: 'start',
            paddingLength: 6,
            paddingChar: '0',
            prefix: moment(this.form.tranDate).format('YY'),
          },
        })
        .then(result => {
          if (result) {
            this.form.refNum = result
            this.refNumLoading = 'eg. 1'
          }
        })
        .catch(error => {
          this.refNumLoading = 'eg. 1'
          Notify.error({ message: error })
        })
    },
    submit() {
      this.$refs['form'].validate(valid => {
        // Submit journal detail form method
        this.$refs.journalDetail.submit()

        if (valid && this.validItemDetail) {
          this.loading = true

          // Pick doc
          this.form.tranDate = wrapCurrentTime(this.form.tranDate)

          if (this.showId) {
            updateJournal
              .callPromise({
                doc: this.form,
                details: this.accountDetails,
              })
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.cancel()
                }
              })
              .catch(error => {
                console.log(error)
                this.loading = false
                Notify.error({ message: error.reason })
              })
          } else {
            insertJournal
              .callPromise({
                doc: this.form,
                details: this.accountDetails,
              })
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.reset()
                }
              })
              .catch(error => {
                console.log(error)
                this.loading = false
                Notify.error({ message: error.reason })
              })
          }
        } else {
          return false
        }
      })
    },
    submitJournalDetailForm(valid) {
      this.validItemDetail = valid
    },
    remove() {
      this.$_removeMixin({
        meteorMethod: removeJournal,
        selector: {
          _id: this.showId,
        },
        successMethod: 'cancel',
        loading: 'loading',
        // title: row.title,
      })
    },
    reset() {
      this.$refs['form'].resetFields()
      this.initAccountDetails()
      this.getNextRefNum()
    },
    cancel() {
      this.$store.dispatch('app/delView').then(res => {
        this.$router.back()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.total-fieldset {
  font-size: 20px;
}

.total {
  font-size: 30px;
  text-align: center;
  display: block;
  font-weight: bold;

  .success {
    color: #409eff;
  }

  .error {
    color: #f56c6c;
  }
}
</style>
