<template>
  <div>
    <div class="login-form">
      <div class="login-input">
        <el-input
          ref="username"
          v-model="form.username"
          :autofocus="true"
          size="medium"
          prefix-icon=" fa fa-user"
          placeholder="Username"
          class="login-textbox"
          @focus="selectAll"
        />
      </div>
      <div class="login-input">
        <el-input
          ref="password"
          v-model="form.password"
          :type="passwordInputType"
          size="medium"
          prefix-icon=" fa fa-lock"
          placeholder="******"
          class="login-textbox"
          style="border:none;"
          @focus="selectAll"
          @keyup.enter.native="submit"
        >
          <i
            slot="suffix"
            :class="'el-input__icon fa fa-' + passwordVisibilityIcon"
            style="cursor: pointer;"
            @click="togglePasswordVisibility"
          />
        </el-input>
      </div>

      <div class="login-btn-panel">
        <el-button
          :loading="loadingLogin"
          size="medium"
          type="primary"
          class="login-btn"
          @click="submit"
        >
          <i class="fas fa-sign-in-alt" />&nbsp;&nbsp;&nbsp;Login
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import Msg from '/imports/client/lib/message'

export default {
  name: 'Login',
  data() {
    return {
      loadingLogin: false,
      passwordInputType: 'password',
      passwordVisibilityIcon: 'eye',
      form: {
        username: '',
        password: '',
      },
    }
  },
  computed: {
    userExpiryDay() {
      return this.$store.getters['app/userExpiryDay']
    },
  },
  methods: {
    selectAll(event) {
      setTimeout(function() {
        event.target.select()
      }, 0)
    },
    togglePasswordVisibility() {
      if (this.passwordInputType === 'password') {
        this.passwordInputType = 'text'
        this.passwordVisibilityIcon = 'eye-slash'
      } else {
        this.passwordInputType = 'password'
        this.passwordVisibilityIcon = 'eye'
      }
    },
    submit() {
      this.loadingLogin = true

      this.$store
        .dispatch('app/login', this.form)
        .then(res => {
          // Check expiry day
          if (this.userExpiryDay <= 0) {
            this.$router.push({ name: 'Confirm' })
          } else {
            this.$router.push({ name: 'Dashboard' })
          }
        })
        .catch(err => {
          this.loadingLogin = false
          Msg.error('Username or password is incorrect')
          this.$refs.username.$el.querySelector('input').focus()
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.login-form {
  padding: 1% 5% 5% 5%;
  width: 17%;
  margin: 0 auto;
}

.login-input {
  margin-top: 5%;
}

.login-btn-panel {
  height: 32px;
  margin-top: 5%;
  .el-button--primary,
  .login-btn {
    width: 100%;
    background-color: #ff782c;
    border: none;
    border-radius: 3px;
    font-size: 14 ផខ;
    /*letter-spacing: 1px;*/
    font-weight: 500;
    text-transform: uppercase;
  }
  .el-button--primary:hover,
  .login-btn:hover {
    background-color: #d35e1a;
  }
  .el-button--primary:focus,
  .login-btn:focus {
    background-color: #d35e1a;
  }
  .el-button--primary:active,
  .login-btn:active {
    background-color: #d35e1a;
  }
}

/*Fix Small Resolution*/
@media only screen and (max-width: 1600px) {
  .login-form {
    width: 20%;
  }
}
</style>
