<template>
  <div>
    <el-form
      v-loading="loading"
      ref="form"
      :model="form"
      :rules="rules"
      label-width="150px"
    >

      <el-form-item
        label="Branch ID"
        prop="branchId"
      >
        <el-select v-model="form.branchId">
          <el-option
            v-for="item in allowedBranchOpts"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
      </el-form-item>

      <el-form-item
        label="Reset type"
        prop="resetType"
      >
        <el-radio-group v-model="form.resetType">
          <div
            v-for="item in parentProp.typeOpts"
            :key="item.value"
            style="margin-top: 10px;"
          >
            <el-radio :label="item.value">{{ item.label }}</el-radio>
          </div>
        </el-radio-group>
      </el-form-item>

      <el-form-item>
        <el-button
          type="danger"
          @click="submitForm"
        >
          Reset Data
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
// Message
import Notify from '/imports/client/lib/notify'

import { resetData } from '/imports/api/data/reset'

export default {
  name: 'ResetData',
  props: {
    parentProp: {
      type: Object,
      default() {
        return {}
      },
    },
  },
  data() {
    return {
      loading: false,
      form: {
        branchId: '',
        resetType: this.parentProp.defaultType,
      },
      rules: {
        branchId: [{ required: true }],
        namresetTypee: [{ required: true }],
      },
    }
  },
  computed: {
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    allowedBranchOpts() {
      return this.$store.getters['app/allowedBranchOpts']
    },
  },
  methods: {
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.$confirm(
            `Are you sure you would like to permanently reset data
            [${this.form.resetType}]?`,
            'Warning',
            {
              type: 'error',
            }
          )
            .then(() => {
              this.loading = true

              resetData
                .callPromise(this.form)
                .then(res => {
                  this.loading = false
                  Notify.success({
                    message: `Reset data is success [${res}]`,
                  })
                })
                .catch(err => {
                  console.log(err)
                  this.loading = false
                  Notify.error({ message: err.reason })
                })
            })
            .catch(() => {
              console.log('Cancel reset data')
            })
        } else {
          Notify.error({ message: 'Please check validation again...' })
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
