<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :form-type="formType"
      :update-doc="updateDoc"
      :visible="modalVisible"
      @modal-close="handleModalClose"
    />

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->
    <data-tables
      v-loading="loading"
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
    >
      <el-table-column
        v-for="title in tableTitles"
        :prop="title.prop"
        :label="title.label"
        :key="title.label"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span
            v-if="title.prop === '_id'"
            class="ra-text-link"
            @click="edit(scope.row)"
          >
            {{ scope.row._id }}
          </span>
          <span v-else>{{ scope.row[title.prop] }}</span>
        </template>
      </el-table-column>

      <!-- Table Action -->
      <!-- <el-table-column
        label="Actions"
        align="center"
        fixed="right"
        width="70"
      >
        <template slot-scope="scope">
          <table-action
            :actions="actionsList(scope.row)"
            :row="scope.row"
            @action-click="tableActionClick"
          ></table-action>
        </template>
      </el-table-column>
    </data-tables> -->

    </data-tables>
  </div>
</template>

<script>
// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import softRemoveMixin from '/imports/client/mixins/soft-remove'
import restoreMixin from '/imports/client/mixins/restore'
import removeMixin from '/imports/client/mixins/remove'

// Table
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import { findRoleGroups, removeRoleGroup } from '../../api/role-groups/methods'

import RoleGroupForm from './RoleGroupForm'

export default {
  name: 'RoleGroup',
  components: { TableToolbar, TableAction, RoleGroupForm },
  mixins: [dataTablesMixin, softRemoveMixin, restoreMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: 'New',
      tableData: [],
      tableTitles: [
        { label: 'ID', prop: '_id' },
        { label: 'Name', prop: 'name' },
        // { label: 'Roles', prop: 'roles' },
        { label: 'Status', prop: 'status' },
      ],
      tableFilters: [
        {
          prop: ['_id', 'name', 'status'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: '_id',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    getData() {
      this.loading = true
      findRoleGroups
        .callPromise({})
        .then(result => {
          this.tableData = result
          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Add new
    addNew() {
      this.formType = 'New'
      this.currentModal = RoleGroupForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },

    // Toble Formatter
    softRemoveClassName(removed) {
      return removed ? 'soft-remove' : ''
    },

    // Table Action
    actionsList(row) {
      let actions = ['edit']
      if (row.removed) {
        // actions.push('restore')
        // actions.push('remove')
      } else {
        // actions.push('softRemove')
        actions.push('remove')
      }

      return actions
    },
    tableActionClick(command) {
      this[command.action](command.row)
    },
    edit(row) {
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentModal = RoleGroupForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    // softRemove(row) {
    //   this.$_softRemoveMixin({
    //     meteorMethod: softRemoveBranch,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },
    // restore(row) {
    //   this.$_restoreMixin({
    //     meteorMethod: restoreBranch,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     loading: 'loading',
    //     title: row.title,
    //   })
    // },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeRoleGroup,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.updateDoc = null
        this.getData()
      })
    },
    // // Add new
    // addNew() {
    //   this.$router.push({ name: '.branchNew' })
    // },
    // // Action
    // handleTableAction(command) {
    //   this[command.action](command.row)
    // },
    // edit(row) {
    //   this.$router.push({
    //     name: '.branchEdit',
    //     params: { _id: row._id },
    //   })
    // },
    // remove(row) {
    //   this.$_removeMixin({
    //     meteorMethod: removeBranch,
    //     selector: { _id: row._id },
    //     successMethod: 'getData',
    //     loading: 'loading',
    //     title: row._id,
    //   })
    // },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/main.scss';
</style>
