<template>
  <div>
    <el-dialog
      :visible="visible"
      :before-close="handleModalClose"
      width="70%"
    >
      <!-- Dialog Title -->
      <template slot="title">
        <i :class="'fas fa-' + (formType === 'New' ? 'plus' : 'pencil-alt')" /> Role Group
      </template>

      <el-form
        v-loading="loading"
        ref="form"
        :model="form"
        :rules="rules"
        label-width="100px"
      >
        <el-row :gutter="10">
          <el-col :span="24">
            <el-form-item
              label="Name"
              prop="name"
            >
              <el-input v-model="form.name" />
            </el-form-item>

            <el-form-item
              label="Roles"
              prop="roles"
            >
              <el-checkbox
                :indeterminate="isIndeterminate"
                v-model="checkAll"
                border
                @change="handleCheckAllChange"
              >Check all</el-checkbox>
              <div style="margin: 15px 0;" />
              <el-checkbox-group
                v-loading="loadingRole"
                v-model="form.roles"
                @change="handleCheckedRolesChange"
              >
                <el-row :gutter="20">
                  <el-col
                    v-for="item in roleOpts"
                    :key="item.label"
                    :span="8"
                  >
                    <el-checkbox :label="item.label">
                      {{ item.label }}
                    </el-checkbox>
                  </el-col>
                </el-row>
              </el-checkbox-group>
            </el-form-item>

            <el-form-item
              label="Status"
              prop="status"
            >
              <el-radio-group v-model="form.status">
                <el-radio
                  v-for="item in statusOpts"
                  :key="item.value"
                  :label="item.value"
                />
              </el-radio-group>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <span slot="footer">
        <el-button
          type="primary"
          @click="submitForm"
        >
          Save
        </el-button>
        <el-button
          v-if="formType === 'Edit'"
          type="danger"
          @click="remove"
        >Delete</el-button>
        <el-button @click="handleModalClose">Cancel</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import _ from 'lodash'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

// Libs
import removeMixin from '/imports/client/mixins/remove'

import { lookupRole } from '../../api/lookups/role'
import LookupValue from '../lib/lookup-value'

import {
  findOneRoleGroup,
  insertRoleGroup,
  updateRoleGroup,
  removeRoleGroup,
  checkRoleGroupIsUsed,
} from '../../api/role-groups/methods'

export default {
  name: 'RoleGroupForm',
  mixins: [removeMixin],
  props: {
    formType: {
      type: String,
      default: 'New',
    },
    visible: {
      type: Boolean,
      default: false,
    },
    updateDoc: {
      type: Object,
      default: null,
    },
  },
  data() {
    var validateName = (rule, value, callback) => {
      if (value) {
        const _id = this.updateDoc && this.updateDoc._id

        findOneRoleGroup
          .callPromise({
            selector: {
              _id: {
                $ne: _id,
              },
              name: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Name is exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    return {
      loading: false,
      loadingRole: false,
      statusOpts: LookupValue.status,
      roleOpts: [],

      // Check all
      checkAll: false,
      isIndeterminate: false,

      form: {
        name: '',
        roles: [],
        status: 'Active',
      },
      rules: {
        name: [
          { required: true, message: 'Name is required' },
          { validator: validateName, trigger: 'blur' },
        ],
        roles: [{ required: true, message: 'Roles name is required' }],
        status: [{ required: true, message: 'Status is required' }],
      },
    }
  },
  watch: {
    updateDoc: {
      immediate: true,
      handler: function(val) {
        if (this.formType == 'Edit') {
          this.form = val
        } else {
          this.form = {
            name: '',
            roles: [],
            status: 'Active',
          }
        }
      },
      deep: true,
    },
  },
  mounted() {
    this.lookupRole()
  },
  methods: {
    lookupRole() {
      this.loadingRole = true
      lookupRole
        .callPromise({})
        .then(res => {
          this.roleOpts = res
          this.loadingRole = false
        })
        .catch(err => {
          this.loadingRole = false
          console.log(err)
        })
    },
    // Check all
    handleCheckAllChange(val) {
      this.form.roles = val ? this.roleOpts.map(o => o.label) : []
      this.isIndeterminate = false
    },
    handleCheckedRolesChange(value) {
      let checkedCount = value.length
      this.checkAll = checkedCount === this.roleOpts.length
      this.isIndeterminate =
        checkedCount > 0 && checkedCount < this.roleOpts.length
    },
    // Submit form
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true
          if (this.formType === 'New') {
            insertRoleGroup
              .callPromise(this.form)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.resetForm()
                }
              })
              .catch(error => {
                this.loading = false
                Notify.error({ message: error })
              })
          } else {
            // Pick data
            let doc = _.pick(this.form, ['_id', 'name', 'roles', 'status'])
            updateRoleGroup
              .callPromise(doc)
              .then(result => {
                if (result) {
                  this.loading = false
                  Msg.success()
                  this.handleModalClose()
                }
              })
              .catch(err => {
                this.loading = false
                Notify.error({ message: err })
              })
          }
        } else {
          return false
        }
      })
    },
    remove() {
      const _id = this.updateDoc && this.updateDoc._id
      let selector = {
        'profile.rolesGroup': _id,
      }
      checkRoleGroupIsUsed
        .callPromise({ selector })
        .then(result => {
          if (result) {
            Notify.warning({ message: 'Role group has been used' })
          } else {
            this.$_removeMixin({
              meteorMethod: removeRoleGroup,
              selector: {
                _id: this.updateDoc._id,
              },
              successMethod: 'handleModalClose',
              loading: 'loading',
              // title: row.title,
            })
          }
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    handleModalClose() {
      this.$emit('modal-close')
    },
  },
}
</script>

<style lang="scss" scoped>
</style>
