<template>
  <div class="profile">
    <el-row :gutter="30">
      <el-col :span="16">
        <!-- <span class="user-avatar">
          <avatar
            :username="userFullName"
            :size="100"
          />
        </span> -->

        <el-form
          v-loading="loading"
          ref="form"
          :model="form"
          :rules="rules"
          label-width="200px"
        >
          <el-row :gutter="10">
            <el-col :span="24">
              <el-form-item
                label="Full name"
                prop="fullName"
              >
                <el-input v-model="form.fullName" />
              </el-form-item>

              <el-form-item
                label="Username"
                prop="username"
              >
                <el-input v-model="form.username" />
              </el-form-item>
              <el-form-item
                label="Email"
                prop="email"
              >
                <el-input v-model="form.email" />
              </el-form-item>

              <el-form-item
                label="Old password"
                prop="oldPassword"
              >
                <el-input
                  v-model="form.oldPassword"
                  type="password"
                />
              </el-form-item>

              <el-form-item
                label="New password"
                prop="password"
              >
                <el-input
                  v-model="form.password"
                  type="password"
                />
              </el-form-item>

              <el-form-item
                label="New confirm password"
                prop="confirmPassword"
              >
                <el-input
                  v-model="form.confirmPassword"
                  type="password"
                />
              </el-form-item>
              <el-form-item
                label="Expiry"
                prop="expiry"
              >
                <span v-if="form.expiryDay">
                  {{ form.expiryDay }} day [{{ expiryDate.oldDate }} -> {{ expiryDate.newDate }}]
                </span>
              </el-form-item>
              <el-form-item>
                <el-button
                  type="primary"
                  @click="submitForm"
                >
                  Save Changes
                </el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import Avatar from 'vue-avatar'

import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import {
  validateUserExist,
  validateUserPassword,
} from '../../api/validations/user.js'
import { findOneUser, updateUser } from '../../api/users/methods'

export default {
  name: 'UserProfile',
  components: { Avatar },
  data() {
    // Custom validate
    const validateUsername = (rule, value, callback) => {
      const _id = this.currentUser._id
      if (value) {
        validateUserExist
          .callPromise({
            selector: {
              _id: { $ne: _id },
              username: value,
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Username exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateEmail = (rule, value, callback) => {
      const _id = this.currentUser._id
      if (value) {
        validateUserExist
          .callPromise({
            selector: {
              _id: { $ne: _id },
              emails: { $elemMatch: { address: value } },
            },
          })
          .then(result => {
            if (result) {
              callback(new Error('Email exist'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateOldPassword = (rule, value, callback) => {
      if (value) {
        validateUserPassword
          .callPromise({ password: value })
          .then(result => {
            if (result.error) {
              callback(new Error('Old password is incorrect'))
            } else {
              callback()
            }
          })
          .catch(error => {
            Notify.error({ message: error })
          })
      }
    }

    const validateNewPassword = (rule, value, callback) => {
      if (value) {
        if (value === this.form.oldPassword) {
          callback(new Error(`New password must don't match the old`))
        } else if (this.form.confirmPassword !== '') {
          this.$refs.form.validateField('confirmPassword')
        }
        callback()
      }
    }

    const validateConfirmNewPassword = (rule, value, callback) => {
      if (value && value !== this.form.password) {
        callback(new Error(`New password don't match`))
      } else {
        callback()
      }
    }

    return {
      loading: true,
      form: {
        _id: '',
        fullName: '',
        username: '',
        email: '',
        status: '',
        oldPassword: '',
        password: '',
        confirmPassword: '',
        allowedBranches: [],
        roles: [],
      },
      rules: {
        fullName: [{ required: true, message: 'Full name is required' }],
        username: [
          { required: true, message: 'Username is required' },
          {
            min: 5,
            max: 20,
            message: 'Length should be 5 to 20',
            trigger: 'blur',
          },
          { validator: validateUsername, trigger: 'blur' },
        ],
        email: [
          { required: true, message: 'Email is required' },
          { type: 'email', message: 'Email is not a valid email' },
          { validator: validateEmail, trigger: 'blur' },
        ],
        oldPassword: [
          { required: true, message: 'Old password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validateOldPassword, trigger: 'blur' },
        ],
        password: [
          { required: true, message: 'New password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validateNewPassword, trigger: 'blur' },
        ],
        confirmPassword: [
          { required: true, message: 'New confirm password is required' },
          {
            min: 6,
            message: 'Length should be greater than 6',
            trigger: 'blur',
          },
          { validator: validateConfirmNewPassword, trigger: 'blur' },
        ],
      },
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.app.currentUser
    },
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    expiryDate() {
      let oldDate = '',
        newDate = ''
      if (this.form.expiryDay) {
        oldDate = moment(this.form.expiryDate).format('DD/MM/YYYY')
        newDate = moment(this.form.expiryDate)
          .add(this.form.expiryDay, 'days')
          .format('DD/MM/YYYY')
      }

      return { oldDate, newDate }
    },
  },
  mounted() {
    if (this.currentUser && this.currentUser._id) this.getDataUpdate()
  },
  methods: {
    getDataUpdate() {
      this.loading = true
      const _id = this.currentUser && this.currentUser._id

      findOneUser
        .callPromise({ _id })
        .then(res => {
          this.form = {
            _id: res._id,
            fullName: res.profile.fullName,
            username: res.username,
            email: res.emails[0].address,
            oldPassword: '',
            password: '',
            confirmPassword: '',
            allowedBranches: res.profile.allowedBranches,
            expiryDay: res.profile.expiryDay,
            expiryDate: res.profile.expiryDate,
            roles: res.roles[1],
            rolesGroup: res.profile.rolesGroup,
            status: res.profile.status,
          }
          this.$nextTick(() => (this.loading = false))
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Make data
          const doc = _.clone(this.form)
          delete doc.oldPassword
          delete doc.confirmPassword

          // Update expiry date
          if (doc.expiryDay) {
            doc.expiryDate = moment(
              this.expiryDate.newDate,
              'DD/MM/YYYY'
            ).toDate()
          }

          updateUser
            .callPromise({ user: doc })
            .then(res => {
              this.$store.dispatch('app/logout')
              this.loading = false
            })
            .catch(err => {
              this.loading = false
              Notify.error({ message: err })
            })
        } else {
          return false
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.profile {
  min-height: calc(100vh - 251px);

  .user-avatar {
    display: inline-block;
    margin: 0px 0px 20px 200px;
    text-align: center;
  }
}
</style>
