<template>
  <div>
    <!--Modal Form-->
    <component
      :is="currentModal"
      :visible="modalVisible"
      :form-type="formType"
      :update-doc="updateDoc"
      @modal-close="handleModalClose"
    />

    <!-- Toolbar -->
    <TableToolbar
      v-model="tableFilters"
      @new="addNew"
    />

    <!-- Datatable -->

    <data-tables
      :data="tableData"
      :table-props="tableProps"
      :filters="tableFilters"
      :loading="loading"
    >
      <el-table-column
        prop="username"
        label="Username"
        sortable="custom"
      >
        <template slot-scope="scope">
          <span
            class="ra-text-link"
            @click="edit(scope.row)"
          >
            {{ scope.row.username }}
          </span>
        </template>
      </el-table-column>

      <el-table-column
        prop="profile.fullName"
        label="Full Name"
        sortable="custom"
      />

      <el-table-column
        prop="emails[0].address"
        label="Email"
        sortable="custom"
      />

      <el-table-column
        prop="profile.allowedBranches"
        label="Branches"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ formatValue(scope.row.profile.allowedBranches, 'array') }}
        </template>
      </el-table-column>

      <el-table-column
        prop="roleGroup"
        label="Group"
        sortable="custom"
      >
        <template slot-scope="scope">
          {{ scope.row.groupDoc.name }}
        </template>
      </el-table-column>

      <el-table-column
        prop="profile.expiryDay"
        label="Expiry Day"
      >
        <template slot-scope="scope">
          {{ scope.row.profile.expiryDay }} ({{ formatValue(scope.row.profile.expiryDate, 'date') }})
        </template>
      </el-table-column>

      <el-table-column
        prop="profile.status"
        label="Status"
        sortable="custom"
      />
    </data-tables>
  </div>
</template>

<script>
import moment from 'moment'

// Mixin
import dataTablesMixin from '/imports/client/mixins/data-tables'
import removeMixin from '/imports/client/mixins/remove'
import Notify from '/imports/client/lib/notify'

// Table Action
import TableToolbar from '/imports/client/components/TableToolbar.vue'
import TableAction from '/imports/client/components/TableAction.vue'

import UserForm from './UserForm'
import { findUsers, removeUser } from '../../api/users/methods'

export default {
  name: 'User',
  components: { TableToolbar, TableAction, UserForm },
  mixins: [dataTablesMixin, removeMixin],
  data() {
    return {
      loading: false,
      formType: '',
      tableData: [],
      tableFilters: [
        {
          prop: ['username'],
          value: '',
        },
      ],
      // Modal
      currentModal: null,
      modalVisible: false,
      updateDoc: null,
    }
  },
  created() {
    // Extend data tables props (Mixin)
    this.tableProps.defaultSort = {
      prop: 'profile.fullName',
      order: 'ascending',
    }
  },
  mounted() {
    this.getData()
  },
  methods: {
    // Check roles
    userIsInRole(roles) {
      // return this.$store.getters['app/userIsInRole'](roles)
    },
    // Get data
    getData() {
      this.loading = true

      findUsers
        .callPromise({
          selector: { username: { $ne: 'super' } },
          options: { sort: { fullName: 1 } },
        })
        .then(result => {
          this.tableData = result

          this.loading = false
        })
        .catch(error => {
          this.loading = false
          Notify.error({ message: error })
        })
    },
    // Add new
    addNew() {
      this.formType = 'New'
      this.currentModal = UserForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    edit(row) {
      this.formType = 'Edit'
      this.updateDoc = row
      this.currentModal = UserForm
      this.$nextTick(() => {
        this.modalVisible = true
      })
    },
    remove(row) {
      this.$_removeMixin({
        meteorMethod: removeUser,
        selector: { _id: row._id },
        successMethod: 'getData',
        loading: 'loading',
        title: row.title,
      })
    },
    formatValue(value, type) {
      if (type === 'array') {
        return JSON.stringify(value)
      } else if (type === 'date') {
        return moment(value).format('DD/MM/YYYY')
      }
    },
    handleModalClose() {
      this.modalVisible = false
      this.$nextTick(() => {
        this.currentModal = null
        this.getData()
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/main.scss';
</style>
