<template>
  <div>
    <el-button @click="handleCopy">Copy</el-button>
    {{ tableHeaderChecked }}

    <div id="my-copy">
      <el-table
        :data="tableDataCopy"
        style="width: 100%"
      >
        <el-table-column
          prop="date"
          label="Date"
          width="180"
        />
        <el-table-column
          v-if="showHeader('Name')"
          prop="name"
          label="Name"
          width="180"
        />
        <el-table-column
          v-if="showHeader('Address')"
          prop="address"
          label="Address"
        />
        <el-table-column :render-header="rendeTableHeader"/>
      </el-table>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'

import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'
Vue.use(VueClipboard)

import Msg from '/imports/client/lib/message'

import TableHeaderForClipborad from '../components/TableHeaderForClipborad'

export default {
  name: 'DemoClipboard',
  components: { TableHeaderForClipborad },
  data() {
    return {
      // Copy to clipboard
      tableDataCopy: [
        {
          date: '2016-05-03',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-02',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-04',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
        {
          date: '2016-05-01',
          name: 'Tom',
          address: 'No. 189, Grove St, Los Angeles',
        },
      ],
      tableHeaderChecked: ['Name'],
    }
  },
  methods: {
    handleCopy() {
      this.$copyText(this.$el.querySelector('#my-copy').innerHTML) // or outerHTML?
      // this.$copyText(document.querySelector('#my-copy').innerHTML) // or outerHTML?
      // this.$copyText(document.querySelector('#my-copy').textContent) // Text
      Msg.success('Copy to Clipboard!')
    },
    rendeTableHeader(h, { column, $index }) {
      const self = this
      return h(TableHeaderForClipborad, {
        props: {
          tableHeaderChecked: self.tableHeaderChecked,
        },
        on: {
          headerCheck(val) {
            self.tableHeaderChecked = val
          },
        },
      })
    },
    showHeader(field) {
      return _.includes(this.tableHeaderChecked, field)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
