<template>
  <div>
    <div>
      <count-to
        :start-val="start"
        :end-val="end"
        :decimals="2"
        :duration="500"
      />
    </div>
    <el-button @click="changeEnd">Change Value</el-button>
  </div>
</template>

<script>
import _ from 'lodash'
import CountTo from 'vue-count-to'

export default {
  name: 'DemoCountUp',
  components: {
    CountTo,
  },
  data() {
    return {
      start: 0,
      end: 123.45,
      options: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: '',
      },
    }
  },
  methods: {
    changeEnd() {
      this.end = _.random(1, 500)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
