<template>
  <ElCard shadow="never">
    <el-collapse>
      <el-collapse-item title="Khmer Font">
        <KhmerFont />
      </el-collapse-item>

      <el-collapse-item title="Vuex (Store)">
        <VuexStore />
      </el-collapse-item>

      <el-collapse-item title="Progress">
        <Progress />
      </el-collapse-item>

      <el-collapse-item title="Count Up">
        <CountUp />
      </el-collapse-item>

      <el-collapse-item title="Convert String to Number">
        <StringToNum />
      </el-collapse-item>

      <el-collapse-item title="Font Awesome 5">
        <FontAwesome5 />
      </el-collapse-item>

      <el-collapse-item title="Input Mask">
        <InputMask />
      </el-collapse-item>

      <el-collapse-item title="Transition">
        <Transition />
      </el-collapse-item>

      <el-collapse-item title="Copy to Clipboard">
        <Clipborad />
      </el-collapse-item>

      <el-collapse-item title="Files Upload">
        <FileUpload />
      </el-collapse-item>

      <el-collapse-item title="Files Download">
        <FileDownload />
      </el-collapse-item>

      <el-collapse-item title="Loacal Vue Plugin">
        <LocalPlugin />
      </el-collapse-item>

      <el-collapse-item title="Local Lib">
        <LocalLib />
      </el-collapse-item>

      <el-collapse-item title="Other">
        <h3>Facker</h3>
        <el-button @click="changeFaker">
          Faker
        </el-button>
        Country: {{ fakerValue }}

        <h3>Test WrapAsync</h3>
        <el-button
          type="primary"
          @click="handleWrapAsync"
        >
          WrapAsync
        </el-button>
        {{ wrapAsync }}

        <h3>Dynamic Collection</h3>
        <el-button @click="handleDynamicCollection">
          Dynamic
        </el-button>
        {{ dynamicCollection }}

        <h3>Raw Collection (Aggregate)</h3>
        <el-button
          :loading="rawCollectionLoading"
          @click="handleRawCollection"
        >
          Raw Collection
        </el-button>
        <vue-json-pretty
          :data="rawCollection"
          :deep="1"
        />

        <h3>Current Timezone (Server)</h3>
        <el-button @click="handleCurrentTimezone">
          Get Current Timezone
        </el-button>
        <p>{{ currentTimezone }}</p>

        <h3>Date to String (Mongo - Timezone), It have problem while time before 07:00 AM</h3>
        <el-button
          :loading="timezoneLoading"
          @click="handleTimezoneTest"
        >
          Timezone
        </el-button>
        <vue-json-pretty
          :data="timezoneTest"
          :deep="1"
        />

        <h3>Collect JS</h3>
        {{ collectData }}
        <el-button @click="avgCollect">
          Collect Avg
        </el-button>
        {{ collectAvg }}
      </el-collapse-item>
    </el-collapse>
  </ElCard>
</template>

<script>
import VueJsonPretty from 'vue-json-pretty'

import faker from 'faker'
import collect from 'collect.js'

import {
  wrapAsyncTest,
  dynamicCollectionTest,
  rawCollectionTest,
  timezoneTest,
  getCurrentTimezone,
} from '../../api/testing/methods'

// Component
import KhmerFont from './KhmerFont'
import FileUpload from './FileUpload'
import VuexStore from './VuexStore'
import Clipborad from './Clipborad'
import Progress from './Progress'
import CountUp from './CountUp'
import StringToNum from './StringToNum'
import FontAwesome5 from './FontAwesome5'
import Transition from './Transition'
import InputMask from './InputMask'
import LocalPlugin from './LocalPlugin'
import LocalLib from './LocalLib'
import FileDownload from './FileDownload'

export default {
  name: 'DemoPage',
  components: {
    VueJsonPretty,
    FileUpload,
    KhmerFont,
    VuexStore,
    Clipborad,
    Progress,
    CountUp,
    StringToNum,
    FontAwesome5,
    Transition,
    InputMask,
    LocalPlugin,
    LocalLib,
    FileDownload,
  },
  data() {
    return {
      // Casual
      fakerValue: faker.address.country(),
      // WrapAsync
      wrapAsync: '',
      // Dynamic Collection
      dynamicCollection: '',
      //  Raw collection (Aggregate)
      rawCollectionLoading: false,
      rawCollection: [],
      // Timezone test
      timezoneTest: [],
      timezoneLoading: false,
      currentTimezone: '',
      // Collection JS
      collectData: [1, 2, 3, 4, 5],
      collectAvg: '',
    }
  },
  methods: {
    handleWrapAsync() {
      wrapAsyncTest
        .callPromise()
        .then(result => {
          if (result) {
            this.wrapAsync = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleDynamicCollection() {
      dynamicCollectionTest
        .callPromise('counters')
        .then(result => {
          if (result) {
            this.dynamicCollection = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleRawCollection() {
      this.rawCollectionLoading = true

      rawCollectionTest
        .callPromise({})
        .then(result => {
          if (result) {
            this.rawCollection = result
            this.rawCollectionLoading = false
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleTimezoneTest() {
      this.timezoneLoading = true
      timezoneTest
        .callPromise({})
        .then(result => {
          if (result) {
            this.timezoneTest = result
            this.timezoneLoading = false
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    handleCurrentTimezone() {
      getCurrentTimezone
        .callPromise()
        .then(result => {
          if (result) {
            this.currentTimezone = result
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    // Form
    avgCollect() {
      this.collectAvg = collect([1, 3, 3, 7]).avg()
    },
    // Faker
    changeFaker() {
      return (this.fakerValue = faker.address.country())
    },
  },
}
</script>

<style lang="scss" scoped>
.tran-icon {
  cursor: pointer;
}
</style>


