<template>
  <div>
    <!-- File List -->
    <ul>
      <li
        v-for="file in fileList"
        :key="file._id"
      >
        <img
          :src="FilesCollection.link(file)"
          :alt="file.name"
          width="120px"
          height="125px"
        >
        <el-button
          type="danger"
          @click="removeFile(file._id)"
        >X</el-button>
      </li>
    </ul>
    <hr >

    <p>
      <img
        :src="filePreview"
        width="120px"
        height="125px"
      >
      <input
        ref="fileUploadHidden"
        type="file"
        accept="image/*"
        style="display: none"
        @change="filePicked"
      >
    </p>

    <el-button
      type="default"
      @click="pickFile"
    >Select file</el-button>
    <el-button
      type="primary"
      @click="uploadFile"
    >Upload file</el-button>
  </div>
</template>

<script>
import _ from 'lodash'

// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import Files from '/imports/api/files/files'
import { getFiles, getFileById } from '/imports/api/files/methods'

export default {
  name: 'DemoFileUploadManual',
  components: {},
  data() {
    return {
      FilesCollection: Files,
      fileList: [],
      filePreview: '',
      fileUpload: '',
    }
  },
  // meteor: {
  //   $subscribe: {
  //     'app.files': [],
  //   },
  //   fileList() {
  //     return Files.find().fetch()
  //   },
  // },
  mounted() {
    this.getFileUploads()
  },
  methods: {
    // Get file
    getFileUploads() {
      getFiles
        .callPromise({})
        .then(res => {
          this.fileList = res
        })
        .catch(err => {
          console.log(err)
          Notify.error({ message: err })
        })
    },
    pickFile() {
      this.$refs.fileUploadHidden.click()
    },
    filePicked(event) {
      const file = event.target.files && event.target.files[0]
      if (file) {
        this.fileUpload = file

        const reader = new FileReader()
        reader.addEventListener(
          'load',
          () => {
            this.filePreview = reader.result
          },
          false
        )
        reader.readAsDataURL(file)
      } else {
        this.fileUpload = ''
        this.filePreview = ''
      }
    },
    uploadFile() {
      console.log('Files', this.fileUpload)

      if (this.fileUpload) {
        Files.insert({
          file: this.fileUpload,
          streams: 'dynamic',
          chunkSize: 'dynamic',
          onUploaded(err, fileObj) {
            console.log('Upload', fileObj)
            if (err) {
              Notify.error({ message: 'File upload is error' })
            } else {
              Notify.success({ message: 'File upload is success' })
            }
          },
        })
      } else {
        Notify.error({ message: 'File upload is required' })
      }
    },
    removeFile(id) {
      console.log('Remove', id)
      Files.remove({ _id: id }, err => {
        if (!err) {
          this.getFileUploads()
          Notify.success({ message: 'File removed' })
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
