<template>
  <div>
    <ul>
      <li>
        <a
          ref="logo"
          class="logo"
          href="/images/logo.png"
          target="_parent"
          download="logo"
        >
          Download
        </a>
      </li>
      <li>
        <a
          ref="user"
          class="user"
          href="/images/user.png"
          target="_parent"
          download="user"
        >
          Download
        </a>
      </li>
    </ul>

    <el-button
      size="small"
      type="primary"
      @click="downloadFile"
    >Download File</el-button>
  </div>
</template>

<script>
import _ from 'lodash'

// Message
import Notify from '/imports/client/lib/notify'

export default {
  name: 'DemoFileDownload',
  components: {},
  data() {
    return {}
  },
  methods: {
    downloadFile() {
      this.$refs['download1'].click()
      this.$refs['download2'].click()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
