<template>
  <div>
    <!-- File List -->
    <ul>
      <li
        v-for="file in fileData"
        :key="file._id"
      >
        <img
          :src="FilesCollection.link(file)"
          :alt="file.name"
          width="125px"
          height="125px"
        >
        <el-button
          type="danger"
          @click="removeFile(file._id)"
        >X</el-button>
      </li>
    </ul>
    <hr>

    <div class="image-box">
      <el-upload
        :file-list="fileList"
        :on-change="handleFileChange"
        :on-remove="handleFileRemove"
        :auto-upload="false"
        action=""
        class="image-uploader"
        accept="image/*"
      >
        <img
          v-if="imageUrl"
          :src="imageUrl"
          class="image-uploader-preview"
        >
        <i
          v-else
          class="el-icon-plus image-uploader-icon"
        />
      </el-upload>
    </div>

    <el-button
      size="small"
      type="primary"
      @click="uploadFile"
    >Upload File</el-button>
  </div>
</template>

<script>
import _ from 'lodash'

// Message
import Msg from '/imports/client/lib/message'
import Notify from '/imports/client/lib/notify'

import FilesCollection from '/imports/api/files/files'
import { getFiles, getFileById } from '/imports/api/files/methods'

export default {
  name: 'DemoFileUpload2',
  components: {},
  data() {
    return {
      FilesCollection: FilesCollection,
      fileData: [],
      fileList: [],
      imageUrl: '',
    }
  },
  mounted() {
    this.getFileUploads()
  },
  methods: {
    // File Data
    getFileUploads() {
      getFiles
        .callPromise({})
        .then(res => {
          this.fileData = res
        })
        .catch(err => {
          console.log(err)
          Notify.error({ message: err })
        })
    },
    removeFile(id) {
      FilesCollection.remove({ _id: id }, err => {
        if (!err) {
          this.getFileUploads()
          Notify.success({ message: 'File removed' })
        }
      })
    },
    // File Form
    handleFileChange(file, fileList) {
      this.fileList = [file]
      this.makeImageUrl(file.raw)
    },
    handleFileRemove(file, fileList) {
      this.fileList = []
      this.makeImageUrl(null)
    },
    makeImageUrl(file) {
      this.imageUrl = file ? URL.createObjectURL(file) : ''
    },
    uploadFile() {
      const self = this

      if (self.fileList.length) {
        let file = self.fileList[0].raw
        FilesCollection.insert({
          file: file,
          streams: 'dynamic',
          chunkSize: 'dynamic',
          onUploaded(err, fileObj) {
            if (err) {
              Notify.error({ message: 'File upload is error' })
            } else {
              self.getFileUploads()
              Notify.success({ message: 'File upload is success' })
            }
          },
        })
      } else {
        Notify.error({ message: 'File upload is required' })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';

.image-box {
  width: 125px;
}
</style>
