<template>
  <div>
    <h4>Font Awesome in Element Input</h4>
    <h4>Font Awesome 5</h4>
    <i class="fa fa-camera-retro" />
    <i class="fa fa-address-book" />
    <i class="fa fa-font-awesome" />
    <i class="fab fa-500px" />
    <i
      class="fas fa-chess"
      @click="handleIconClick"
    />

    <!-- El Input -->
    <el-input
      placeholder="Enter password"
      suffix-icon=" fas fa-camera-retro"
    />
  </div>
</template>

<script>
export default {
  name: 'DemoFontAwesome5',
  methods: {
    handleIconClick() {
      alert('Icon clicked')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
