<template>
  <div>
    <el-input
      v-money="money"
      v-model.lazy="inputMoney"
    />
    {{ inputMoney }}

    <el-input
      v-mask="999,999.99"
      v-model="inputMask"
    />
    {{ inputMask }}
  </div>
</template>

<script>
import AwesomeMask from 'awesome-mask'
import { VMoney } from 'v-money'

export default {
  name: 'DemoInputMask',
  directives: {
    mask: AwesomeMask,
    money: VMoney,
  },
  data() {
    return {
      inputMoney: 123456.789,
      money: {
        decimal: '.',
        thousands: ',',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false /* doesn't work with directive */,
      },

      inputMask: 123456.789,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
