<template>
  <div>
    <div class="kh-moul">Moul: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-moulpali">Moulpali: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-fasthand">Fasthand: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-freehand">Freehand: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-metal">Metal: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-content">Content: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-battambang">Battambang: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-bokor">Bokor: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
    <div class="kh-siemreap">Siemreap: មជ្ឈមណ្ឌលបណ្តុះបណ្តាល រ៉ាប៊ីត</div>
  </div>
</template>

<script>
export default {
  name: 'DemoKhmerFont',
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
