<template>
  <div>
    <h3>Filter</h3>
    <div>
      Format Number: {{ 123456.789 | number }}
      <span v-html="'{{123456.789 | number}}'" />
    </div>
    <div>
      Format Currency: {{ 123456.789 | currency }}
      <span v-html="'{{123456.789 | currency}}'" />
    </div>
    <div>
      Format Date: {{ new Date() | date }}
      <span v-html="'{{ new Date() | date }}'" />
    </div>
    <div>
      Format DateTime: {{ new Date()| dateTime }}
      <span v-html="'{{ new Date() | dateTime }}'" />
    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import LocalFilters from '/imports/client/plugins/filters'
Vue.use(LocalFilters)

export default {
  name: 'DemoLocalPlugin',
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
