<template>
  <div>
    <h3>Wrap Current Time</h3>
    <div>
      <el-date-picker
        v-model="wrapDate"
        type="date"
        format="dd/MM/yyyy"
      />
      <el-date-picker
        v-model="wrapPickerDate"
        :picker-options="pickerOpts"
        type="daterange"
        format="dd/MM/yyyy"
        start-placeholder="Start Date"
        end-placeholder="End Date"
      />
    </div>
    <div>
      <el-button @click="handleWrapCurrentTime">Wrap Current Time</el-button>
    </div>
    {{ wrapDate | dateTime }}<br> {{ wrapPickerDate[0] | dateTime }} To {{ wrapPickerDate[1] | dateTime }}
  </div>
</template>

<script>
import moment from 'moment'

import wrapCurrentTime from '/imports/client/lib/wrap-current-time'
import { dateRangePickerOpts } from '/imports/client/lib/date-picker-opts'

export default {
  name: 'DemoLocalLib',
  data() {
    return {
      // Wrap current time
      pickerOpts: dateRangePickerOpts,
      wrapDate: moment().toDate(),
      wrapPickerDate: [moment().toDate(), moment().toDate()],
    }
  },
  methods: {
    // Wrap current time
    handleWrapCurrentTime() {
      this.wrapDate = wrapCurrentTime(this.wrapDate)
      this.wrapPickerDate = wrapCurrentTime(this.wrapPickerDate)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
