<template>
  <div>
    <h4>NProgress</h4>
    <el-button @click="handleNProgressbar">NProgress</el-button>

    <h4>Vue Progress</h4>
    <el-button @click="handleVueProgressbar">Vue Progress</el-button>
  </div>
</template>

<script>
import Vue from 'vue'

// NProgress
import NProgress from 'nprogress'
import 'nprogress/nprogress.css'

// Vue Progressbar
import VueProgressBar from 'vue-progressbar'
const vProgressOpts = {
  color: '#409eff',
  failedColor: '#f56c6c',
  thickness: '3px',
  transition: {
    speed: '0.2s',
    opacity: '0.6s',
    termination: 300,
  },
  autoRevert: true,
  location: 'top',
  inverse: false,
}
Vue.use(VueProgressBar, vProgressOpts)

export default {
  name: 'DemoProgress',
  methods: {
    handleNProgressbar() {
      NProgress.start()

      // Use setTimeout for demo
      setTimeout(() => {
        NProgress.done()
      }, 1000)
    },
    handleVueProgressbar() {
      this.$Progress.start()

      // Use setTimeout for demo
      setTimeout(() => {
        this.$Progress.finish()
      }, 1000)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
