<template>
  <div>
    <el-checkbox v-model="parseIntCheck">Pars Integer</el-checkbox>

    <ul>
      <li
        v-for="item in numStr"
        :key="item"
      >
        {{ item }} -> {{ item | strToNum }}
      </li>
    </ul>
  </div>
</template>

<script>
import numeral from 'numeral'

export default {
  name: 'DemoStringToNum',
  filters: {
    strToNum(val) {
      if (this.parseIntCheck) {
        return parseInt(numeral(val).value())
      }

      return numeral(val).value()
    },
  },
  data() {
    return {
      parseIntCheck: false,
      numStr: [
        123.45,
        '123.56',
        '123.45abc',
        '123.a56',
        'ab123.45c',
        'btb123.02',
        'BTB-123.15',
        'BTB:123.54',
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
