<template>
  <div>
    <el-button
      type="primary"
      @click="showTransition = !showTransition"
    >Click to transition</el-button>
    <el-collapse-transition>
      <div v-show="showTransition">
        <div class="transition-box">
          Element, a Vue 2.0 based component library for developers, designers and product managers
        </div>
      </div>
    </el-collapse-transition>
  </div>
</template>

<script>
export default {
  name: 'DemoTransiton',
  data() {
    return {
      showTransition: false,
    }
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
