<template>
  <div>
    <h4>Company Info</h4>
    <VueJsonPretty
      :data="company"
      :deep="1"
    />
    <h4>Current User</h4>
    <VueJsonPretty
      :data="currentUser"
      :deep="1"
    />
    <h4>Current User Full Name</h4>
    {{ userFullName }}

    <h4>Current Branch</h4>
    <VueJsonPretty
      :data="currentBranch"
      :deep="1"
    />

    <h4>Current Branch ID</h4>
    {{ currentBranchId }}

    <h4>Allowed Branches</h4>
    <VueJsonPretty
      :data="allowedBranches"
      :deep="1"
    />

    <h4>Branch Permission Opts</h4>
    <VueJsonPretty
      :data="allowedBranchOpts"
      :deep="1"
    />

    <h4>Date, DateTime Format Opt</h4>
    <pre>
          computed:{
            dateFormat() {
              return this.$store.getters['app/dateFormat']
            },
            dateTimeFormat(){
              return this.$store.getters['app/dateTimeFormat']
            }
          }
    </pre>
  </div>
</template>

<script>
// Json Pretty
import VueJsonPretty from 'vue-json-pretty'

import { mapState } from 'vuex'

export default {
  name: 'DemoVuexStore',
  components: { VueJsonPretty },
  computed: {
    ...mapState({
      company(state) {
        return state.app.company
      },
      currentUser(state) {
        return state.app.currentUser
      },
      currentBranch(state) {
        return state.app.currentBranch
      },
      allowedBranches(state) {
        return state.app.allowedBranches
      },
    }),
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    currentBranchId() {
      return this.$store.getters['app/currentBranchId']
    },
    allowedBranchOpts() {
      return this.$store.getters['app/allowedBranchOpts']
    },
  },
}
</script>

<style lang="scss" scoped>
@import '../styles/main.scss';
</style>
