<template>
  <div>
    <el-card shadow="never">
      <!--FORM-->
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="180px"
      >
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="Report Date"
              prop="reportDate"
            >
              <el-date-picker
                :clearable="false"
                v-model="form.reportDate"
                type="date"
                placeholder="Pick a date"
                style="width: 100%;"
              />
            </el-form-item>
            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select
                v-model="form.branchId"
                clearable
                multiple
                style="width: 100%"
              >
                <el-option
                  v-for="item in branchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Currency"
              prop="currency"
            >
              <el-select v-model="form.currency">
                <el-option
                  v-for="item in currencyOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <!-- <el-form-item label="Show non-zero or active">
              <el-select
                v-model="form.showRowStatus"
                clearable
                style="width: 100%"
              >
                <el-option
                  v-for="item in showRowStatusOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item> -->
            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                <i class="fa fa-search" /> Submit
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          <!--{{ reportPeriod }}-->
        </div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ form.currency }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">None Zero:</span> {{ showRowStatusFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th>Account</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in reportData">

              <tr :key="item._id">
                <th
                  class="text-bold"
                  colspan="2"
                >
                  <span v-html="indentSpace(1)" />
                  {{ item.name }}</th>
              </tr>

              <template v-for="(doc, index) in item.details">
                <!-- Chart Account -->
                <template v-if="!doc.totalOf">
                  <tr :key="doc._id+'-'+index">
                    <td
                      v-if="doc.accountType"
                      class="text-bold"
                    >
                      <span v-html="indentSpace(doc.indent+1)" />
                      {{ doc.name }}
                    </td>
                    <td v-else-if="doc.name==='Net Income'">
                      <span v-html="indentSpace(doc.indent+2)" />
                      {{ doc.name }}
                    </td>
                    <td v-else>
                      <span v-html="indentSpace(doc.indent+2)" />
                      {{ doc.code }} : {{ doc.name }}
                    </td>
                    <td class="text-right">
                      <span v-if="isNumber(doc.totalAmount)">{{ doc.totalAmount | number }}</span>
                    </td>
                  </tr>

                </template>

                <!-- Total chart account-->
                <tr
                  v-if="doc.totalType"
                  :key="`total:${doc._id}`"
                >
                  <td class="text-bold">
                    <span v-html="indentSpace(doc.indent+1)" />
                    Total - {{ doc.name }}
                  </td>

                  <td class="text-right text-bold">{{ doc.totalAmount | number }}</td>
                </tr>
              </template>
              <!-- Total-->
              <tr :key="item._id+'-'+index">
                <td class="text-bold">
                  <span v-html="indentSpace(1)" />
                  Total - {{ item.name }}</td>
                <td class="text-right text-bold">{{ item.total | number }}</td>
              </tr>

              <tr
                v-if="item.totalAll>=0"
                :key="item._id+'--'+index"
              >
                <td class="text-bold">
                  <span v-html="indentSpace(1)" />
                  Total - Liabilities-Equities</td>
                <td class="text-right text-bold">{{ item.totalAll | number }}</td>
              </tr>

            </template>

          </tbody>
        </table>
      </div>

      <!--REPORT FOOTER-->
      <!-- <template slot="footer">
        <el-row :gutter="20">
          <el-col class="colspan-12">
            <span class="title">Total Debit:</span>
          </el-col>
          <el-col class="colspan-12">
            <span class="title">Total Credit:</span>
          </el-col>
        </el-row>
      </template> -->
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

import Notify from '/imports/client/lib/notify'
import LookupValue from '../lib/lookup-value'
// Report Laout
import ReportLayout from '/imports/client/layouts/ReportLayout.vue'

import { lookupBranch } from '../../api/lookups/branch'
import reportBalanceSheet from '../../api/reports/balanceSheet'

export default {
  name: 'BalanceSheetReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      showRowStatusOpts: [
        {
          label: 'All',
          value: 'all',
        },
        {
          label: 'Active',
          value: 'active',
        },
        {
          label: 'None Zero',
          value: 'none-zero',
        },
      ],
      pickerFormat: 'dd/MM/yyyy',
      form: {
        branchId: [],
        // showRowStatus: [],
        currency: 'KHR',
        reportDate: moment().toDate(),
      },
      rules: {
        reportDate: [{ required: true, message: 'Report period is required' }],
        currency: [{ required: true, message: 'Currency is required' }],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Balance Sheet Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Balance Sheet',
      },
      cssText: ``,
    }
  },
  computed: {
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    showRowStatusFilter() {
      let data = _.filter(this.showRowStatusOpts, o => {
        return _.includes(this.form.showRowStatus, o.value)
      })
      return _.map(data, 'label')
    },
    // reportPeriod() {
    //   const period = `${moment(this.form.reportPeriod).format('DD/MM/YYYY')}`
    //   // To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
    //   return period
    // },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    indentSpace(indent) {
      return indent > 0 ? _.repeat('&nbsp;', indent * 2) : ''
    },
    isNumber(val) {
      return _.isNumber(val)
    },
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          // console.log(this.form)
          this.loading = true
          this.form.reportDate = wrapCurrentTime(this.form.reportDate)

          reportBalanceSheet
            .callPromise(this.form)
            .then(result => {
              if (result) {
                console.log(result)
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              console.log(error)
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    clickDetail(id) {
      // this.$router.push({
      //   name: 'JournalForm',
      //   params: { _id: id },
      // })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/report.scss';
</style>