<template>
  <div>
    <el-card shadow="never">
      <!--FORM-->
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row :gutter="30">
          <el-col :span="12">
            <el-form-item
              label="Date"
              prop="reportDate"
            >
              <el-date-picker
                v-model="form.reportDate"
                :format="pickerFormat"
                :picker-options="pickerOpts"
                type="daterange"
                start-placeholder="Start Date"
                end-placeholder="End Date"
              />
            </el-form-item>

            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select
                v-model="form.branchId"
                multiple
                placeholder="-- All --"
                style="width: 100%"
              >
                <el-option
                  v-for="item in branchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Currency"
              prop="currency"
            >
              <el-select v-model="form.currency">
                <el-option
                  v-for="item in currencyOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Account type"
              prop="accountType"
            >
              <el-select
                v-model="form.accountType"
                clearable
                multiple
                placeholder="-- All --"
                style="width: 100%"
                @change="handleAccountTypeChange"
              >
                <el-option
                  v-for="item in accountTypeOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="Chart of account"
              prop="chartAccount"
            >
              <el-select
                v-model="form.chartAccount"
                clearable
                multiple
                placeholder="-- All --"
                style="width: 100%"
              >
                <el-option
                  v-for="item in chartAccountOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="Row Filter">
              <el-radio-group v-model="form.rowFilter">
                <el-radio label="Active">Active</el-radio>
                <el-radio label="Zero">Zero</el-radio>
                <el-radio label="All">All</el-radio>
              </el-radio-group>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                <i class="fa fa-search" /> Submit
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">{{ reportName }}</div>
        <div class="report-period">{{ reportDate }}</div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="10">
          <el-col class="colspan-12">
            <span class="title">Branch:</span> {{ branchFilter }}
            <div class="ra-mt-sm" />
            <span class="title">Currency:</span> {{ form.currency }}
          </el-col>
          <el-col class="colspan-12">
            <span class="title">Account Type:</span> {{ accountTypeFilter }}
            <div class="ra-mt-sm" />
            <span class="title">Chart of Account:</span> {{ chartAccountFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Ref No.</th>
              <th>Memo</th>
              <th class="text-right">Debit</th>
              <th class="text-right">Credit</th>
              <th class="text-right">Balance</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(doc, index) in reportData">
              <!-- Chart Account -->
              <template v-if="!doc.totalOf">
                <tr :key="doc._id">
                  <td colspan="6">
                    <span v-html="indentSpace(doc.indent)" />
                    {{ doc.code }} : {{ doc.name }}
                  </td>
                  <td class="text-right">
                    <span v-if="isNumber(doc.balance)">{{ doc.balance | number }}</span>
                  </td>
                </tr>

                <!-- Details -->
                <tr
                  v-for="(item, itemIndex) in doc.trans"
                  :key="`${doc._id}-${itemIndex}`"
                >
                  <td>
                    <span v-html="indentSpace(doc.indent + 2)" />
                    {{ item.tranDate | date }}
                  </td>
                  <td>{{ item.journalType }}</td>
                  <td>
                    <span
                      class="ra-text-link"
                      @click="clickDetail(item._id)"
                    >
                      {{ item.refNum }}
                    </span>
                  </td>
                  <td>{{ item.memo }}</td>
                  <td class="text-right">{{ item.details.dr | number }}</td>
                  <td class="text-right">{{ item.details.cr | number }}</td>
                  <td class="text-right">{{ item.balance | number }}</td>
                </tr>
              </template>

              <!-- Total -->
              <tr
                v-else
                :key="`total:${doc._id}`"
              >
                <td
                  colspan="4"
                  class="text-bold"
                >
                  <span v-html="indentSpace(doc.indent)" />
                  Total - {{ doc.code }} : {{ doc.name }}
                </td>
                <td class="text-right text-bold">{{ doc.totalDr | number }}</td>
                <td class="text-right text-bold">{{ doc.totalCr | number }}</td>
                <td class="text-right text-bold">{{ doc.balance | number }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <!-- <template slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-12">
            <span class="title">&nbsp;</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL DEBIT:</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL CREDIT:</span>
          </el-col>
        </el-row>
      </template> -->
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/client/lib/notify'
import { dateRangePickerOpts } from '/imports/client/lib/date-picker-opts'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

// Report Layout
import ReportLayout from '/imports/client/layouts/ReportLayout.vue'

import LookupValue from '../lib/lookup-value'
import { lookupBranch } from '../../api/lookups/branch'
import {
  lookupAccountType,
  lookupChartAccount,
} from '../../api/lookups/chartAccount'
import reportGeneralLedger from '../../api/reports/generalLedger'

export default {
  name: 'GeneralLedgerReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      accountTypeOpts: [],
      chartAccountOpts: [],
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: dateRangePickerOpts,
      form: {
        branchId: [],
        currency: 'KHR',
        accountType: [],
        chartAccount: [],
        reportDate: [moment().toDate(), moment().toDate()],
        rowFilter: 'Active',
      },
      rules: {
        reportDate: [{ required: true, message: 'Date is required' }],
        currency: [{ required: true, message: 'Currency is required' }],
      },

      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Journal Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [],
        fileName: 'Journal Report',
      },
      cssText: ``,
    }
  },
  computed: {
    reportDate() {
      const period = `${moment(this.form.reportDate[0]).format('DD/MM/YYYY')} 
                  To ${moment(this.form.reportDate[1]).format('DD/MM/YYYY')}
                `
      return period
    },
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    accountTypeFilter() {
      let data = _.filter(this.accountTypeOpts, o => {
        return _.includes(this.form.accountType, o.value)
      })
      return _.map(data, 'label')
    },
    chartAccountFilter() {
      let data = _.filter(this.chartAccountOpts, o => {
        return _.includes(this.form.chartAccount, o.value)
      })
      return _.map(data, 'label')
    },
  },
  mounted() {
    this.getBranche()
    this.getAccountType()
    this.getChartAccount()
  },
  methods: {
    indentSpace(indent) {
      return indent > 0 ? _.repeat('&nbsp;', indent * 2) : ''
    },
    isNumber(val) {
      return _.isNumber(val)
    },
    getBranche() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    getAccountType() {
      lookupAccountType
        .callPromise()
        .then(result => {
          this.accountTypeOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    handleAccountTypeChange(val) {
      this.getChartAccount()
    },
    getChartAccount() {
      let selector = {}
      if (this.form.accountType && this.form.accountType.length) {
        selector.accountTypeId = { $in: this.form.accountType }
      }

      lookupChartAccount
        .callPromise(selector)
        .then(result => {
          this.chartAccountOpts = result
        })
        .catch(error => {
          Notify.error({ message: error.reason })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.reportDate = wrapCurrentTime(this.form.reportDate)

          reportGeneralLedger
            .callPromise(this.form)
            .then(result => {
              this.reportData = result
              this.loading = false
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    clickDetail(id) {
      this.$router.push({
        name: 'JournalForm',
        params: { _id: id },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/report.scss';
</style>