<template>
  <el-tabs type="border-card">
    <el-tab-pane
      v-for="tab in reportMenu"
      :key="tab.title"
    >
      <span slot="label">
        <i
          v-if="tab.icon"
          :class="tab.icon"
        />
        {{ tab.title }}
      </span>

      <!-- Conten -->
      <el-collapse
        v-model="tab.activeGroups"
        class="collapse-list"
      >
        <!--Group Title-->
        <el-collapse-item
          v-for="group in tab.data"
          :name="group.groupTitle"
          :key="group.groupTitle"
        >
          <template slot="title">
            <span class="collapse-title">
              <i
                v-if="group.icon"
                :class="group.icon"
              />
              {{ group.groupTitle }}
            </span>
          </template>

          <!-- Items -->
          <el-row :gutter="20">
            <el-col
              v-for="(item, index) in group.items"
              :span="6"
              :key="`${tab.title}-${group.groupTitle}-${index}`"
            >
              <span
                class="list-title"
                @click="handleLink(item.route)"
              >
                {{ item.title }}
              </span>
              <div class="list-memo">{{ item.memo }}</div>
            </el-col>
          </el-row>
        </el-collapse-item>
      </el-collapse>

    </el-tab-pane>
  </el-tabs>

  <!-- <el-card class="collapse-list"> -->
  <!-- <el-collapse v-model="activeName"> -->
  <!--General-->
  <!-- <el-collapse-item name="General">
        <template slot="title">
          <span class="collapse-title">
            <i class="fas fa-print" /> General
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in generalReports"
            :span="6"
            :key="index"
          >
            <span
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </span>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item> -->

  <!--Summary-->
  <!-- <el-collapse-item name="Summary">
        <template slot="title">
          <span class="collapse-title">
            <i class="fa fa-print" /> Summary
          </span>
        </template>

        <el-row :gutter="20">
          <el-col
            v-for="(item, index) in summaryReports"
            :span="6"
            :key="index"
          >
            <div
              class="list-title"
              @click="handleLink(item.route)"
            >
              {{ item.title }}
            </div>
            <div class="list-memo">{{ item.memo }}</div>
          </el-col>
        </el-row>
      </el-collapse-item>
    </el-collapse>
  </el-card> -->
</template>

<script>
import { reportMenu } from '/imports/navmenu'

export default {
  name: 'ReportCenter',
  data() {
    return {
      reportMenu,
    }
  },
  methods: {
    handleLink(route) {
      this.$router.push(route)
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/collapse-list.scss';
</style>
