<template>
  <el-card shadow="never">
    <el-card>
      <!--FORM-->
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="120px"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <el-form-item
              label="Date"
              prop="reportDate"
            >
              <el-date-picker
                v-model="form.reportDate"
                :format="pickerFormat"
                :picker-options="pickerOpts"
                type="daterange"
                start-placeholder="Start Date"
                end-placeholder="End Date"
              />
            </el-form-item>

            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select
                v-model="form.branchId"
                clearable
                placeholder="-- All --"
                style="width: 100%"
              >
                <el-option
                  v-for="item in branchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Currency"
              prop="currency"
            >
              <el-select v-model="form.currency">
                <el-option
                  v-for="item in currencyOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item
              label="Type"
              prop="journalType"
            >
              <el-select
                v-model="form.journalType"
                clearable
                multiple
                placeholder="-- All --"
                style="width: 100%"
              >
                <el-option
                  v-for="item in journalTypeOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                <i class="fa fa-search" /> Submit
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">{{ reportName }}</div>
        <div class="report-period">{{ reportDate }}</div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="10">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ form.currency }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Type:</span> {{ journalTypeFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Ref No.</th>
              <th>Memo</th>
              <th>Account</th>
              <th class="text-right">Debit</th>
              <th class="text-right">Credit</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(doc, index) in reportData">
              <template v-for="(item, itemIndex) in doc.details">
                <tr
                  v-if="itemIndex == 0"
                  :key="`${index}-${itemIndex}`"
                >
                  <td>{{ doc.tranDate | date }}</td>
                  <td>{{ doc.journalType }}</td>
                  <td>
                    <span
                      class="ra-text-link"
                      @click="clickDetail(doc._id)"
                    >
                      {{ doc.refNum }}
                    </span>
                  </td>
                  <td>{{ doc.memo }}</td>
                  <td>{{ item.chartAccountDoc.code }} : {{ item.chartAccountDoc.name }}</td>
                  <td class="text-right">{{ item.dr | number }}</td>
                  <td class="text-right">{{ item.cr | number }}</td>
                </tr>
                <tr
                  v-else
                  :key="`${index}${itemIndex}`"
                >
                  <td />
                  <td />
                  <td />
                  <td />
                  <td>{{ item.chartAccountDoc.code }} : {{ item.chartAccountDoc.name }}</td>
                  <td class="text-right">{{ item.dr | number }}</td>
                  <td class="text-right">{{ item.cr | number }}</td>
                </tr>
              </template>
              <!-- Subtotal -->
              <tr :key="`subtotal:${index}`">
                <td />
                <td />
                <td />
                <td />
                <td />
                <td class="text-right text-bold">{{ doc.amount | positiveNumber | number }}</td>
                <td class="text-right text-bold">{{ doc.amount | positiveNumber | number }}</td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>

      <!-- Footer -->
      <!-- <template slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-12">
            <span class="title">&nbsp;</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL DEBIT:</span>
          </el-col>
          <el-col class="colspan-6">
            <span class="title">TOTAL CREDIT:</span>
          </el-col>
        </el-row>
      </template> -->
    </report-layout>
  </el-card>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/client/lib/notify'
import { dateRangePickerOpts } from '/imports/client/lib/date-picker-opts'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

// Report Layout
import ReportLayout from '/imports/client/layouts/ReportLayout.vue'

import LookupValue from '../lib/lookup-value'
import { lookupBranch } from '../../api/lookups/branch'
import reportJournal from '../../api/reports/journal'

export default {
  name: 'JournalReport',
  components: { ReportLayout },
  filters: {
    positiveNumber(value) {
      return value < 0 ? -value : value
    },
  },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      journalTypeOpts: LookupValue.journalType,
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: dateRangePickerOpts,
      form: {
        branchId: '',
        currency: 'KHR',
        journalType: [],
        reportDate: [moment().toDate(), moment().toDate()],
      },
      rules: {
        reportDate: [{ required: true, message: 'Date is required' }],
        currency: [{ required: true, message: 'Currency is required' }],
      },

      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Journal Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [],
        fileName: 'Journal Report',
      },
      cssText: ``,
    }
  },
  computed: {
    reportDate() {
      const period = `${moment(this.form.reportDate[0]).format('DD/MM/YYYY')} 
                  To ${moment(this.form.reportDate[1]).format('DD/MM/YYYY')}
                `
      return period
    },
    branchFilter() {
      let data = _.find(this.branchOpts, { value: this.form.branchId })
      return data && data.label
    },
    journalTypeFilter() {
      let data = _.filter(this.journalTypeOpts, o => {
        return _.includes(this.form.journalType, o.value)
      })
      return _.map(data, 'label')
    },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.reportDate = wrapCurrentTime(this.form.reportDate)

          reportJournal
            .callPromise(this.form)
            .then(result => {
              this.reportData = result
              this.loading = false
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
    clickDetail(id) {
      this.$router.push({
        name: 'JournalForm',
        params: { _id: id },
      })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/report.scss';
</style>