<template>
  <div>
    <el-card shadow="never">
      <!-- FORM -->
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="180px"
      >
        <el-row :gutter="10">
          <el-col :span="12">
            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select
                v-model="form.branchId"
                clearable
                multiple
                style="width: 100%"
              >
                <el-option
                  v-for="item in branchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Currency"
              prop="currency"
            >
              <el-select
                v-model="form.currency"
                style="width: 100%"
              >
                <el-option
                  v-for="item in currencyOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Transaction Type">
              <el-select
                v-model="form.transactionType"
                clearable
                multiple
                style="width: 100%"
              >
                <el-option
                  v-for="item in transactionTypeOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item
              label="Report Period"
              prop="reportPeriod"
            >
              <el-date-picker
                v-model="form.reportPeriod"
                :format="pickerFormat"
                :picker-options="pickerOpts"
                type="daterange"
                start-placeholder="Start Date"
                end-placeholder="End Date"
              />
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                <i class="fa fa-search" /> Submit
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          {{ reportPeriod }}
        </div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ currencyFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Transaction Type:</span> {{ transactionTypeFilter }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>Account</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in reportData.data">
              <tr :key="item._id+'-'+index">
                <td
                  class="text-bold"
                  colspan="2"
                >{{ item.name }}</td>
              </tr>

              <template v-for="(doc, key) in item.details">
                <template v-if="!doc.totalOf">
                  <tr :key="doc._id+'-'+key+index">
                    <td>
                      <span v-html="indentSpace(doc.indent+2)" /> {{ doc.name }}
                    </td>
                    <td class="text-right">
                      <span v-if="isNumber(doc.total)">{{ doc.total | number }}</span>
                    </td>
                  </tr>
                </template>
              </template>

              <!-- Total -->
              <tr :key="item.name+'-'+index">
                <td class="text-bold">Total - {{ item.name }}</td>
                <td class="text-right text-bold">{{ item.total | number }}</td>
              </tr>

              <!-- Gross Profit -->
              <tr
                v-if="item.grossProfit"
                :key="item.grossProfit+'-'+index"
              >
                <td class="text-bold">Gross Profit</td>
                <td class="text-right text-bold">{{ item.grossProfit | number }}</td>
              </tr>

            </template>
          </tbody>
        </table>
      </div>
      <div slot="footer">
        <el-row :gutter="10">
          <el-col class="colspan-12">
            <span class="title text-right">Net Income</span>
          </el-col>
          <el-col class="colspan-12">
            <span class="title text-left">{{ reportData.netIncome | currency }}</span>
          </el-col>
        </el-row>
      </div>
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/client/lib/notify'
import { dateRangePickerOpts } from '/imports/client/lib/date-picker-opts'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

// Report Layout
import ReportLayout from '/imports/client/layouts/ReportLayout.vue'

import LookupValue from '../lib/lookup-value'
import { lookupBranch } from '../../api/lookups/branch'
import reportProfitAndLoss from '../../api/reports/profitLoss'

export default {
  name: 'ProfitLossReport',
  components: { ReportLayout },
  data() {
    return {
      branchOpts: [],
      currencyOpts: LookupValue.currency,
      transactionTypeOpts: [
        {
          label: 'All',
          value: 'all',
        },
        {
          label: 'Active',
          value: 'active',
        },
        {
          label: 'None Zero',
          value: 'none-zero',
        },
      ],
      pickerFormat: 'dd/MM/yyyy',
      pickerOpts: dateRangePickerOpts,
      // pickerOpts: {
      //   shortcuts: [
      //     {
      //       text: 'Today',
      //       onClick(picker) {
      //         const start = moment().toDate()
      //         const end = moment().toDate()
      //         picker.$emit('pick', [start, end])
      //       },
      //     },
      //     {
      //       text: 'This week',
      //       onClick(picker) {
      //         const start = moment()
      //           .startOf('isoWeek')
      //           .toDate()
      //         const end = moment()
      //           .endOf('isoWeek')
      //           .toDate()
      //         picker.$emit('pick', [start, end])
      //       },
      //     },
      //     {
      //       text: 'This month',
      //       onClick(picker) {
      //         const start = moment()
      //           .startOf('month')
      //           .toDate()
      //         const end = moment()
      //           .endOf('month')
      //           .toDate()
      //         picker.$emit('pick', [start, end])
      //       },
      //     },
      //     {
      //       text: 'Last month',
      //       onClick(picker) {
      //         const start = moment()
      //           .subtract(1, 'month')
      //           .startOf('month')
      //           .toDate()
      //         const end = moment(start)
      //           .endOf('month')
      //           .toDate()
      //         picker.$emit('pick', [start, end])
      //       },
      //     },
      //   ],
      // },

      form: {
        branchId: [],
        currency: 'KHR',
        transactionType: [],
        reportPeriod: [moment().toDate(), moment().toDate()],
      },
      rules: {
        currency: [{ required: true }],
        reportDate: [{ required: true, message: 'Report period is required' }],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Profit And Loss Report',
      reportData: [],
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Profit And Loss',
      },
      cssText: ``,
    }
  },
  computed: {
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
    currencyFilter() {
      let data = _.filter(this.currencyOpts, o => {
        return _.includes(this.form.currency, o.value)
      })
      return _.map(data, 'label')
    },
    transactionTypeFilter() {
      let data = _.filter(this.transactionTypeOpts, o => {
        return _.includes(this.form.transactionType, o.value)
      })
      return _.map(data, 'label')
    },
    reportPeriod() {
      const period = `${moment(this.form.reportPeriod[0]).format('DD/MM/YYYY')}
                  To ${moment(this.form.reportPeriod[1]).format('DD/MM/YYYY')}
                `
      return period
    },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    indentSpace(indent) {
      return indent > 0 ? _.repeat('&nbsp;', indent * 2) : ''
    },
    isNumber(val) {
      return _.isNumber(val)
    },
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.reportPeriod = wrapCurrentTime(this.form.reportPeriod)

          reportProfitAndLoss
            .callPromise(this.form)
            .then(result => {
              if (result) {
                console.log(result)
                this.reportData = result
                this.loading = false
              } else {
                this.loading = true
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/report.scss';
</style>