<template>
  <div>
    <el-card shadow="never">
      <!-- FORM -->
      <el-form
        ref="form"
        :model="form"
        :rules="rules"
        label-width="180px"
      >
        <el-row :gutter="30">
          <el-col :span="12">
            <el-form-item
              label="Report Date"
              prop="reportDate"
            >
              <el-date-picker
                v-model="form.reportDate"
                :format="dateFormat"
                type="date"
              />
            </el-form-item>
            <el-form-item
              label="Branch"
              prop="branchId"
            >
              <el-select
                v-model="form.branchId"
                multiple
                placeholder="-- All --"
                style="width: 100%"
              >
                <el-option
                  v-for="item in branchOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>

            <el-form-item
              label="Currency"
              prop="currency"
            >
              <el-select v-model="form.currency">
                <el-option
                  v-for="item in currencyOpts"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Show row status">
              <el-radio-group v-model="form.showRow">
                <el-radio
                  v-for="item in showRowOpts"
                  :key="item.value"
                  :label="item.value"
                >{{ item.label }}</el-radio>
              </el-radio-group>
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm"
              >
                <i class="fa fa-search" /> Submit
              </el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>

    <!--REPORT Layout-->
    <report-layout
      :paper-size="paperSize"
      :export-csv="exportCSV"
      :css-text="cssText"
    >

      <!--REPORT HEADER-->
      <template slot="header">
        <div class="report-name">
          {{ reportName }}
        </div>
        <div class="report-period">
          {{ form.reportDate | date }}
        </div>
      </template>

      <!--REPORT FILTER-->
      <template slot="filter">
        <el-row :gutter="20">
          <el-col class="colspan-8">
            <span class="title">Branch:</span> {{ branchFilter }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Currency:</span> {{ form.currency }}
          </el-col>
          <el-col class="colspan-8">
            <span class="title">Show Row Status:</span> {{ form.showRow }}
          </el-col>
        </el-row>
      </template>

      <!--REPORT CONTENT-->
      <div v-loading="loading">
        <table class="table-content">
          <thead>
            <tr>
              <th>Account</th>
              <th>Type</th>
              <th class="text-right">Debit</th>
              <th class="text-right">Credit</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(doc, index) in reportData.data"
              :key="index"
            >
              <td>{{ doc.code }} : {{ doc.name }}</td>
              <td>{{ doc.accountTypeDoc.nature }}</td>
              <td class="text-right">
                <span v-if="doc.dr">{{ doc.dr | number }}</span>
              </td>
              <td class="text-right">
                <span v-if="doc.cr">{{ doc.cr | number }}</span>
              </td>
            </tr>

            <!-- Total -->
            <tr>
              <td
                colspan="2"
                class="text-right text-bold"
              >
                Total
              </td>
              <td class="text-right text-bold">{{ reportData.total.dr | number }}</td>
              <td class="text-right text-bold">{{ reportData.total.cr | number }}</td>
            </tr>

          </tbody>
        </table>
      </div>

      <!--REPORT FOOTER-->
      <!--<div slot="footer">-->
      <!--<el-row :gutter="20">-->
      <!--<el-col-->
      <!--:span="12"-->
      <!--class="footer-span"-->
      <!--&gt;-->
      <!--<span class="title test">Total Debit:</span>-->
      <!--</el-col>-->
      <!--<el-col-->
      <!--:span="12"-->
      <!--class="footer-span"-->
      <!--&gt;-->
      <!--<span class="title">Total Credit:</span>-->
      <!--</el-col>-->
      <!--</el-row>-->
      <!--</div>-->
    </report-layout>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

import Notify from '/imports/client/lib/notify'
import wrapCurrentTime from '/imports/client/lib/wrap-current-time'

// Report Laout
import ReportLayout from '/imports/client/layouts/ReportLayout.vue'
import Lookup from '../lib/lookup-value'
import { lookupBranch } from '../../api/lookups/branch'
import reportTrialBalance from '../../api/reports/trialBalance'

export default {
  name: 'TrialBalanceReport',
  components: { ReportLayout },
  data() {
    return {
      // Form
      branchOpts: [],
      currencyOpts: Lookup.currency,
      showRowOpts: Lookup.showRow,
      form: {
        reportDate: moment().toDate(),
        branchId: [],
        currency: '',
        showRow: 'Active',
      },
      rules: {
        currency: [{ required: true, message: 'Currecny is required' }],
        reportDate: [{ required: true, message: 'Report date is required' }],
      },
      // Report
      loading: false,
      paperSize: 'a4-p',
      reportName: 'Trial Balance Report',
      reportData: {
        data: [],
        total: { dr: 0, cr: 0 },
      },
      exportCSV: {
        data: this.reportData,
        fields: [{ label: 'Date', value: 'tranDate' }],
        fileName: 'Trial Balance',
      },
      cssText: ``,
    }
  },
  computed: {
    dateFormat() {
      return this.$store.getters['app/dateFormat']
    },
    branchFilter() {
      let data = _.filter(this.branchOpts, o => {
        return _.includes(this.form.branchId, o.value)
      })
      return _.map(data, 'label')
    },
  },
  mounted() {
    this.getBranches()
  },
  methods: {
    getBranches() {
      lookupBranch
        .callPromise()
        .then(result => {
          this.branchOpts = result
        })
        .catch(error => {
          Notify.error({ message: error })
        })
    },
    submitForm() {
      this.$refs['form'].validate(valid => {
        if (valid) {
          this.loading = true

          // Pick doc
          this.form.reportDate = wrapCurrentTime(this.form.reportDate)

          reportTrialBalance
            .callPromise(this.form)
            .then(result => {
              if (result) {
                this.reportData = result
                this.loading = false
              }
            })
            .catch(error => {
              this.loading = false
              Notify.error({ message: error })
            })
        } else {
          return false
        }
      })
    },
    resetForm() {
      this.$refs['form'].resetFields()
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/report.scss';
</style>