.report-card {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 15px;

  .card-header {
    margin: -7px 0px 20px;

    .header-left {
      float: left;
    }
    .header-right {
      float: right;
    }
  }
}

// Show part checkbox title
.part-title {
  text-transform: capitalize;
}

$body-color: #34495e;
$title-color: #2c3e50;
$filter-border-bottom-color: #ddd;
$table-th-bgcolor: #f5f7fa;
$table-th-color: #2c3e50;
$table-td-color: #34495e;
$table-border-bottom-color: #ddd;

.report-body {
  color: $body-color;
  font-size: 12px !important;

  // Kh font
  .kh-moul {
    font-family: Khmer OS Moul, Moul !important;
  }

  .kh-battambang {
    font-family: Khmer OS Battambang, Battambang !important;
  }

  // Header
  .header {
    text-align: center;
    padding-bottom: 10px;
    color: $title-color;

    .company-name {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    .report-name {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    .report-period {
      font-size: 14px;
      font-weight: 500;
      padding-bottom: 5px;
    }
    .company-address {
      // .table-content': {
      //   'border-collapse': 'collapse',
      //   width: '100%',}
    }
  }

  // Filter
  .filter {
    padding-bottom: 0px;
    .title {
      font-size: 12px !important;
      color: $title-color;
      font-weight: 500;
    }
  }

  // Content
  .content {
    padding-bottom: 5px;
  }

  .table-content {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    line-height: 23px;
    th {
      color: $table-th-color;
      border-bottom: 1px solid $table-border-bottom-color;
      padding: 2px 5px;
      background-color: $table-th-bgcolor;
      text-align: left;
      text-transform: uppercase;
    }
    td {
      color: $table-td-color;
      border-bottom: 1px solid $table-border-bottom-color;
      padding: 2px 5px;
      text-align: left;
    }
  }

  // Timestamp
  .timestamp {
    font-size: 10px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 10px;
  }

  // Footer
  .footer {
    padding-bottom: 10px;
    .title {
      font-size: 13px !important;
      color: $title-color;
      font-weight: 600;
    }
  }

  // Signature
  .signature {
    padding-top: 20px;
    clear: both;
    text-align: center;
    font-weight: 500;
  }

  .note-textarea {
    text-align: right;
    margin: 0;
  }

  // Grid layout
  .colspan-6 {
    flex-direction: column;
    width: 25%;
    font-size: 12px;
    float: left;
  }
  .colspan-8 {
    flex-direction: column;
    width: 33%;
    font-size: 12px;
    float: left;
  }
  .colspan-12 {
    flex-direction: column;
    width: 50%;
    font-size: 12px;
    float: left;
  }

  // Text align
  .text-left {
    text-align: left !important;
  }
  .text-right {
    text-align: right !important;
  }
  .text-center {
    text-align: center !important;
  }

  // Text bold
  .text-bold {
    font-weight: bold;
  }

  // Text italic
  .text-italic {
    font-style: italic;
  }
}
