<template>
  <el-tooltip
    effect="dark"
    content="Setting"
    placement="bottom-end"
  >
    <el-dropdown
      trigger="click"
      class="header-item"
      @command="handleCommand"
    >
      <el-button type="text">
        <i class="fas fa-cogs" />
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="AppCompany">Company</el-dropdown-item>
        <el-dropdown-item command="AppBranch">Branch</el-dropdown-item>
        <el-dropdown-item command="AppBser">User</el-dropdown-item>
        <el-dropdown-item command="AppRoleGroup">Group</el-dropdown-item>
        <el-dropdown-item
          command="AppChangelog"
          divided
        >
          Changelog
        </el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </el-tooltip>
</template>

<script>
export default {
  name: 'AdminSetting',
  methods: {
    handleCommand(name) {
      this.$router.push({ name })
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/header-menu.scss';
</style>