<template>
  <div class="breadcrumb">
    <el-breadcrumb separator="/">
      <transition-group
        name="fade-transform"
        mode="out-in"
      >
        <el-breadcrumb-item
          v-for="(bc, index) in breadcrumbs"
          :key="index"
          :to="bc.route"
        >
          <span v-if="bc.icon">
            <i :class="bc.icon" />
          </span>
          {{ bc.title }}
        </el-breadcrumb-item>
      </transition-group>
    </el-breadcrumb>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'Breadcrumb',
  computed: {
    currentRoute() {
      return this.$route
    },
    breadcrumbs() {
      let crumbList = []
      let parents = this.addParentRoute(this.currentRoute)
      parents.forEach(route => {
        crumbList.push(this.getBreadcrumbs(route))
      })
      // Add last current route
      crumbList.push(this.getBreadcrumbs(this.currentRoute))

      return crumbList
    },
  },
  methods: {
    addParentRoute(route) {
      let parent = this.getParentRoute(route)
      // Check parent exist
      if (parent) {
        return _.concat(this.addParentRoute(parent), parent)
      }

      return []
    },
    getParentRoute(route) {
      const parent = route.meta.breadcrumb && route.meta.breadcrumb.parent
      if (parent) {
        return this.$router.resolve({ name: parent }).route
      }

      return null
    },
    getBreadcrumbs(route) {
      let crumb = {
        route: {},
        title: route.meta.title || 'No-Title',
        icon: (route.meta.breadcrumb && route.meta.breadcrumb.icon) || null,
      }
      // Check name
      if (route.name) {
        crumb.route.name = route.name
      } else {
        crumb.route.path = route.path
      }

      // Check params
      if (route.meta.breadcrumb && route.meta.breadcrumb.params) {
        crumb.route.params = _.pick(
          this.currentRoute.params,
          route.meta.breadcrumb.params
        )
      }

      // Check query
      if (route.meta.breadcrumb && route.meta.breadcrumb.query) {
        crumb.route.query = _.pick(
          this.currentRoute.query,
          route.meta.breadcrumb.query
        )
      }

      return crumb
    },
  },
}
</script>

<style lang="scss" scoped>
</style>

