<template>
  <el-tooltip
    effect="dark"
    content="Full screen"
    placement="bottom-end"
  >
    <el-button type="text">
      <i
        class="fa fa-arrows-alt fa-lg icon-link"
        @click="makefullScreen"
      />
    </el-button>
  </el-tooltip>
</template>

<script>
export default {
  name: 'FullScreen',
  methods: {
    makefullScreen() {
      let doc = window.document
      let docEl = doc.documentElement

      let requestFullScreen =
        docEl.requestFullscreen ||
        docEl.mozRequestFullScreen ||
        docEl.webkitRequestFullScreen ||
        docEl.msRequestFullscreen
      let cancelFullScreen =
        doc.exitFullscreen ||
        doc.mozCancelFullScreen ||
        doc.webkitExitFullscreen ||
        doc.msExitFullscreen

      if (
        !doc.fullscreenElement &&
        !doc.mozFullScreenElement &&
        !doc.webkitFullscreenElement &&
        !doc.msFullscreenElement
      ) {
        requestFullScreen.call(docEl)
      } else {
        cancelFullScreen.call(doc)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.el-button--text {
  color: #303133;
}
.el-button--text:hover {
  color: #409eff;
}
</style>

