<template>
  <div>
    <div :class="['hamburger', { 'change': toggled }]">
      <div class="bar1"/>
      <div class="bar2"/>
      <div class="bar3"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Hamburger',
  props: {
    expand: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return { toggled: this.expand }
  },
  watch: {
    expand: {
      handler(val) {
        this.toggled = val
      },
      immediate: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.hamburger {
  display: inline;
  cursor: pointer;
  position: absolute;
  padding-top: 17px;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  // background-color: white;
  background-color: black;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 5px);
  transform: rotate(-42deg) translate(-4px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(41deg) translate(-3px, -3px);
  transform: rotate(46deg) translate(-5px, -4px);
}
</style>

