<template>
  <el-aside class="sidebar">
    <div class="title">
      <i class="fab fa-gitlab fa-lg" />
      <!-- <img
          src="/rabbit.png"
          class="img"
          @click="$router.push({name: 'Dashboard'})"
        > -->
      <transition
        name="fade-x"
        mode="out-in"
      >
        <span
          v-if="!isCollapse"
          :key="1"
          class="label"
        >Rabbit</span>
      </transition>
    </div>

    <el-menu
      :default-active="defaultActive"
      :collapse="isCollapse"
      :unique-opened="true"
      class="menu-vertical"
    >
      <!-- Dashboar -->
      <el-menu-item
        index="Dashboard"
        @click="menuSelect({route: { name: 'Dashboard' }})"
      >
        <i class="fas fa-tachometer-alt" />
        <span slot="title">Dashboard</span>
      </el-menu-item>

      <!-- Side Menu -->
      <template v-for="(item, index) in sidebarMenu">
        <!-- Header -->
        <div
          v-if="item.header"
          :key="index"
        >
          {{ item.header }}
        </div>

        <!-- Divider -->
        <div
          v-if="item.divider"
          :key="index"
          class="ra-divider"
        />

        <!-- Has child -->
        <el-popover
          v-if="item.children"
          v-model="popoverVisible[item.title]"
          :key="index"
          placement="right-start"
          width="200"
          trigger="hover"
          class="sidebar-tooltip"
        >
          <!-- Child -->
          <template v-for="(child, childIndex) in item.children">
            <!-- Divider -->
            <div
              v-if="child.divider"
              :key="`${index}-${childIndex}`"
              class="ra-divider light"
            />

            <el-menu-item
              v-if="child.title"
              :index="child.route.name"
              :key="`${index}-${childIndex}`"
              @click="menuSelect({route: child.route, popover: item.title})"
            >
              <span>{{ child.title }}</span>
            </el-menu-item>
          </template>

          <!-- Parent -->
          <span slot="reference">
            <el-menu-item
              :index="item.route.name"
              :class="{'is-active': linkActive[item.route.name]}"
              @click="menuSelect({route: item.route})"
            >
              <i :class="`fa fa-${item.icon}`" />
              <span
                slot=""
                class="main-menu"
              >{{ item.title }}</span>
            </el-menu-item>
          </span>

        </el-popover>

        <!-- No child -->
        <el-menu-item
          v-else-if="item.title"
          :index="item.route.name"
          :key="index"
          @click="menuSelect({route: item.route})"
        >
          <i :class="`${item.icon}`" />
          <span slot="title">{{ item.title }}</span>
        </el-menu-item>
      </template>
    </el-menu>
  </el-aside>
</template>
<script>
// Module Menu
import { sidebarMenu } from '/imports/navmenu'

export default {
  name: 'Sidebar',
  props: {
    collapse: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      popoverVisible: {},
      isCollapse: this.collapse,
      device: 'mobile',
      sidebarMenu,
    }
  },
  computed: {
    defaultActive() {
      return this.$route.name || 'Dashboard'
    },
    linkActive() {
      return this.$store.state.app.tagView.linkActive
    },
    keptView() {
      return this.$store.state.app.tagView.keptViewTags
    },
    userExpiryDay() {
      return this.$store.getters['app/userExpiryDay']
    },
  },
  watch: {
    collapse: {
      handler(val) {
        this.isCollapse = val
      },
      immediate: true,
    },
  },
  methods: {
    menuSelect({ route, popover }) {
      if (popover) this.popoverVisible[popover] = false
      this.$router.push(route)
    },
  },
}
</script>
<style lang="scss" scoped>
.sidebar {
  width: auto !important;
  /* overflow: hidden !important; */
  // border-right: 1px solid #e6e6e6;
  background-color: #2e323a !important;

  .title {
    border: 0;
    font-size: 16px;
    border-radius: 0;
    min-height: 59px;
    line-height: 59px;
    background-color: #212121;
    border-bottom: 1px solid rgba(229, 229, 229, 0.25);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #ffff;
    position: relative;
    padding: 0px 0px 0px 22px;
    // text-align: center;
    // background-color: #005eb6;
    // line-height: 60px;
    // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    //   0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);

    .img {
      width: 45px;
      vertical-align: middle;
      padding: 0px 0px 0px 0px;
      cursor: pointer;
    }
    .label {
      margin-left: 10px;
    }
  }

  //  Normal Sidebar
  .menu-vertical:not(.el-menu--collapse) {
    width: 230px;
    min-height: 400px;
    background-color: #2e323a !important;
    .el-menu-item {
      color: rgb(255, 255, 255);
      font-weight: 600;
      text-transform: capitalize;
      font-size: 12px;
      margin-left: 5px !important;
      margin-right: 5px !important;
      border-radius: 3px;
      margin-top: 5px;
      // padding-left: 20px !important;
    }
    .el-menu-item:focus,
    .el-menu-item:hover,
    .el-menu-item:active {
      opacity: 1;
      background: hsla(0, 0%, 100%, 0.23);
    }

    .el-menu-item-group {
      background: transparent;
    }
    .el-menu-item:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(67, 74, 80);
    }
    .el-menu-item.is-active {
      color: #ffffff;
      background: hsla(0, 0%, 100%, 0.23);
    }

    .el-menu-item [class^='fa'],
    .el-submenu [class^='fa'] {
      margin-right: 15px;
      text-align: center;
      font-size: 16px;
      vertical-align: middle;
      width: 13px;
    }
    .el-menu-item [class^='el-icon-'] {
      margin-right: 20px;
      width: 0px;
    }
    .el-menu-item,
    .el-submenu__title {
      height: 45px !important;
      line-height: 44px !important;
    }

    .el-menu-item-group {
      .el-submenu {
        margin-left: 15px;
      }
    }

    .is-opened {
      .el-submenu__title i {
        color: inherit;
      }
    }
    .is-active {
      color: #ffd04b !important;
    }
  }

  // Mini Sidebar
  .el-menu--collapse {
    background-color: #2e323a !important;
    .main-menu {
      display: none;
    }
    .el-menu-item,
    .el-submenu__title {
      height: 45px !important;
      line-height: 45px !important;
    }
    .el-menu-item {
      color: rgb(255, 255, 255);
      margin-left: 5px !important;
      margin-right: 5px !important;
      border-radius: 3px;
      margin-top: 5px;
      // padding-left: 20px !important;
    }
    .el-menu-item:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(67, 74, 80);
    }
    .el-menu-item.is-active {
      color: #ffffff;
      background: hsla(0, 0%, 100%, 0.23);
    }
    .el-menu-item [class^='fa'],
    .el-submenu [class^='fa'] {
      text-align: center;
      font-size: 16px;
      vertical-align: middle;
      width: 13px;
    }
    .el-menu-item [class^='el-icon-'] {
      // margin-right: 5px;
      width: 0px;
    }
    .is-active {
      color: #ffd04b !important;
    }
    .el-tooltip {
      padding: 0px 15px !important;
    }
  }
  .el-menu {
    border-right: none !important;
  }
}
</style>


