<template>
  <div class="tag-view clearfix">
    <el-tabs
      v-model="activeRouterPath"
      type="card"
      @tab-click="clickView"
      @tab-remove="closeView"
    >
      <el-tab-pane
        v-for="item in visitedViews"
        :key="item.path"
        :name="item.path"
        :closable="item.path !== '/'"
      >
        <span slot="label">
          <i
            v-if="item.meta.icon"
            :class="item.meta.icon"
          /> {{ item.meta.title }}
        </span>
      </el-tab-pane>
    </el-tabs>

    <el-button
      class="close-all"
      type="text"
      icon="el-icon-close"
      size="mini"
      @click="closeAllViews"
    />
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  name: 'TagView',
  data() {
    return {
      activeRouterPath: this.$route.path,
    }
  },
  computed: {
    visitedViews() {
      const visited = this.$store.state.app.tagView.visitedViews
      return visited
    },
  },
  watch: {
    $route: {
      handler(val) {
        this.activeRouterPath = val.path
        this.$store.dispatch('app/tagView/makeLinkActive', val.meta.linkActive)
        this.addView()
      },
      immediate: true,
    },
    // Limit tag view (20)
    visitedViews: {
      handler(val) {
        if (val.length > 20) {
          const firstTag = val[1]
          this.closeView(firstTag.name)
        }
      },
      immediate: true,
    },
  },
  mounted() {
    this.addView()
  },
  methods: {
    getActiveTab(path) {
      let index = _.findIndex(this.visitedViews, { path })
      let view = _.find(this.visitedViews, { path })
      return { index, view }
    },
    addView() {
      const route = this.$route
      if (route && route.name && route.meta && route.meta.title) {
        this.$store.dispatch('app/tagView/addView', route)
      } else {
        console.log('Route name and title are required')
      }
    },
    clickView(tab) {
      const { view } = this.getActiveTab(tab.name)

      this.$nextTick(() => {
        this.$store.dispatch('app/tagView/makeLinkActive', view.meta.linkActive)
        this.$router.push({
          path: view.path,
          params: view.params,
          query: view.query,
          fullPath: view.fullPath,
        })
      })
    },
    closeView(tabName) {
      const { index, view } = this.getActiveTab(tabName)

      this.$nextTick(() => {
        this.$store
          .dispatch('app/tagView/delView', view)
          .then(({ visitedViews }) => {
            if (this.activeRouterPath === view.path) {
              const latestView =
                visitedViews.length === index
                  ? visitedViews[index - 1]
                  : visitedViews[index]
              if (latestView) {
                this.$router.push({
                  path: latestView.path,
                  params: latestView.params,
                  query: latestView.query,
                  fullPath: latestView.fullPath,
                })
              } else {
                this.$router.push('/')
              }
            }
          })
      })
    },
    closeAllViews() {
      this.$store.dispatch('app/tagView/delAllViews').then(res => {
        if (res) {
          this.$router.push('/')
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped>
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
}
.clearfix:after {
  clear: both;
}
.tag-view .close-all {
  margin: -32px 20px 0px 5px;
  .el-button--mini {
    padding: 5px 5px;
  }
}
.tag-view {
  // .el-button--text {
  //   padding: 5px;
  //   border-color: #ffb0b0;
  // }
  .el-button--text:focus,
  .el-button--text:hover {
  }
}
</style>
