<template>
  <div style="display: inline-block;">
    <el-tooltip
      :content="userFullName"
      effect="dark"
      placement="bottom-end"
    >
      <el-dropdown
        trigger="click"
        class="header-item override-padding"
        @command="handleCommand"
      >
        <span class="el-dropdown-link">
          <span class="user-avatar">
            <avatar
              :username="userFullName"
              :size="40"
            />
          </span>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item
            disabled
            class="username"
          >
            <i class="fas fa-user-circle" /> {{ userFullName }}
          </el-dropdown-item>
          <el-dropdown-item
            command="lang"
            divided
          >
            <i class="fas fa-language" /> {{ langUI }}
          </el-dropdown-item>
          <el-dropdown-item command="adminSetting">
            <i class="fas fa-cogs" /> Admin Setting
          </el-dropdown-item>
          <el-dropdown-item
            command="logout"
            class="logout"
            divided
          >
            <i class="fas fa-sign-out-alt" /> Logout
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </el-tooltip>
  </div>
</template>

<script>
import Avatar from 'vue-avatar'
import UserProfile from '../pages/UserProfile'

export default {
  name: 'UserAvatar',
  components: { Avatar, UserProfile },
  data() {
    return {
      currentDialog: null,
      updateId: null,
      modalVisible: false,
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.app.currentUser
    },
    userFullName() {
      return this.$store.getters['app/userFullName']
    },
    langUI() {
      return this.$store.getters['app/langUI']
    },
  },
  methods: {
    handleCommand(com) {
      this[com]()
    },
    lang() {
      console.log('language')
    },
    adminSetting() {
      this.$router.push({ name: 'AdminSetting' })
    },
    logout() {
      this.$store.dispatch('app/logout')
    },
  },
}
</script>

<style lang="scss" scoped>
@import '~imports/client/styles/header-menu.scss';

.override-padding {
  padding: 0px 0px 0px 7px;
}

.user-avatar {
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}

.username {
  font-weight: 600;
}

.logout {
  color: #f56c6c;
  font-weight: 500;
}
.vue-avatar--wrapper {
  font: 16px/20px Helvetica, Arial, sans-serif !important;
}
</style>