<template>
  <div>
    <!-- Dynamic layout -->
    <transition
      name="fade"
      mode="out-in"
    >
      <component :is="currentLayout" />
    </transition>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import Company from '../../api/company/company'
import Branches from '../../api/branches/branches'

// Layout
import layout from '/imports/layout'

export default {
  name: 'AppLayout',
  metaInfo: {
    title: 'Rabbit Tech',
  },
  meteor: {
    $subscribe: {
      ['app.company']: [],
      ['app.branches']() {
        let branches = this.currentUser
          ? this.currentUser.profile.allowedBranches
          : []
        return [{ _id: { $in: branches } }]
      },
    },
    company() {
      const val = Company.findOne()
      this.$store.dispatch('app/updateCompany', val)
      return val
    },
    branches() {
      const val = Branches.find().fetch()
      this.$store.dispatch('app/updateAllowedBranches', val)
      return val
    },
  },
  computed: {
    currentLayout() {
      const currentLayout = this.$route.meta.layout
        ? layout[this.$route.meta.layout]
        : layout.main

      return currentLayout
    },
    ...mapState({
      currentUser: state => state.app.currentUser,
    }),
  },
  watch: {
    // company: {
    //   handler(val) {
    //     console.log(val)
    //     this.$store.dispatch('app/updateCompany', val)
    //   },
    //   immediate: true,
    // },
    // branches: {
    //   handler(val) {
    //     console.log(val)
    //     this.$store.dispatch('app/updateAllowedBranches', val)
    //   },
    //   immediate: true,
    // },
  },
  created() {
    this.$store.dispatch('app/loadCurrentUser')
  },
  mounted() {
    // Auto logout if tab/browser closed
    // window.addEventListener('beforeunload', this.leaving)
  },
  methods: {
    // leaving() {
    //   this.$store.dispatch('app/logout', this)
    // },
  },
}
</script>

<style lang="scss">
@import '~imports/client/styles/main.scss';
@import '~imports/client/styles/aside-menu.scss';
@import '~imports/client/styles/header-menu.scss';
</style>

