<template>
  <el-container class="container">
    <el-main>
      <el-row
        :gutter="20"
        class="custom-row"
      >
        <div class="login-container">
          <div class="company">
            <img src="/images/logo.png">
            <div class="company-name">Rabbit Technology</div>
          </div>

          <router-view/>

        </div>
      </el-row>

      <div class="footer">
        <div>
          {{ copyright }}
        </div>
      </div>
    </el-main>
  </el-container>
</template>

<script>
import moment from 'moment'

// Release version
import release from '../release'

export default {
  name: 'LoginLayout',
  data() {
    return {
      copyright: `© 2014-${moment().format('YYYY')}
                  Rabbit Technology (V ${release})`,
    }
  },
}
</script>

<style lang="scss" scoped>
.container {
  height: 100vh;
  background: url('/images/bg.svg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  .el-main {
    padding: 0;
    // background-color: rgba(44, 62, 80, 0.5);
  }
}

.custom-row {
  width: 100%;
  margin: 0;
}

.company {
  padding-top: 10%;
  width: 30%;
  margin: 0 auto;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
  }
}

.company-name {
  text-align: center;
  color: white;
  font-size: 3vh;
  margin-top: 1%;
  font-weight: 700;
}

.login-container {
  height: 100vh;
}

.login-container {
  .login-box {
    /*background: #ffffff33;*/
    height: auto;
    position: relative;
    /* padding: 20px; */
    width: 20%;
    top: 40%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #97a8be;
  font-size: 12px;
  text-align: center;
}

/*Fix Small Resolution*/
@media only screen and (max-width: 1600px) {
  .company img {
    width: 27%;
  }
  .company-name {
    font-size: 3.7vh;
    margin-top: 3%;
  }
}
@media only screen and (max-width: 1280px) {
  .company-name {
    font-size: 2.7vh;
    margin-top: 5%;
  }
}
</style>
