<template>
  <el-container class="container">
    <Sidebar :collapse="isCollapse" />

    <el-container>
      <el-header class="header clearfix">
        <span>
          <Hamburger
            :expand="isCollapse"
            @click.native="collapseNav"
          />
          <Breadcrumb />
        </span>

        <span class="float-right">
          <ul>
            <li>
              <FullScreen />
            </li>
            <li>
              <Branch />
            </li>
            <li>
              <UserAvatar />
            </li>
          </ul>
        </span>
      </el-header>

      <!-- Main -->
      <el-main class="main">
        <TagView />

        <div class="content">
          <!-- System global alert -->
          <el-alert
            v-if="visibleAlert"
            :closable="false"
            :center="true"
            :title="alertTitle"
            show-icon
            type="error"
            style="margin-bottom: 15px"
          />

          <transition
            name="fade"
            mode="out-in"
          >
            <keep-alive :include="cachedViews">
              <router-view :key="routerViewKey" />
            </keep-alive>
          </transition>
        </div>

        <!-- Footer -->
        <div class="footer">
          {{ copyright }}
        </div>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'

// Release version
import release from '../release'

import Avatar from 'vue-avatar'
import FullScreen from './_FullScreen'
import Hamburger from './_Hamburger'
import Breadcrumb from './_Breadcrumb'
import TagView from './_TagView'
import UserAvatar from './_UserAvatar.vue'
import AdminSetting from './_AdminSetting.vue'
import Branch from './_Branch.vue'
import Sidebar from './_Sidebar.vue'

export default {
  name: 'MainLayout',
  metaInfo() {
    return {
      title: this.title,
      titleTemplate: 'Rabbit - %s',
    }
  },
  components: {
    FullScreen,
    Avatar,
    Hamburger,
    Breadcrumb,
    TagView,
    UserAvatar,
    AdminSetting,
    Branch,
    Sidebar,
  },
  data() {
    return {
      visibleAlert: false,
      alertTitle: 'System Alert',

      popoverVisible: {},
      isCollapse: true,
      device: 'mobile',
      copyright: `
                  © 2014-${moment().format('YYYY')}
                  Rabbit Technology
                  V-${release}
                  `,
    }
  },
  computed: {
    defaultActive() {
      return this.$route.name || 'Dashboard'
    },
    linkActive() {
      return this.$store.state.app.tagView.linkActive
    },
    cachedViews() {
      return this.$store.state.app.tagView.cachedViews
    },
    routerViewKey() {
      return this.$route.fullPath
    },
    userExpiryDay() {
      return this.$store.getters['app/userExpiryDay']
    },
    title() {
      let title = 'No-TiTle'
      title = this.$route.meta.title
        ? this.$route.meta.title
        : this.$route.name
          ? _.startCase(this.$route.name)
          : title

      return title
    },
  },
  watch: {
    device(val) {
      if (val === 'mobile') {
        this.isCollapse = true
      } else {
        this.isCollapse = false
      }
    },
    userExpiryDay: {
      handler(val) {
        if (val && val <= 0) {
          this.$router.push({ name: 'Confirm' })
        } else if (val && val <= 7) {
          this.visibleAlert = true
          this.alertTitle = `Your user account will expire in ${val} day(s). Please change your password.`
        } else {
          this.visibleAlert = false
        }
      },
      immediate: true,
    },
  },
  beforeMount() {
    window.addEventListener('resize', this.resizeHandler)
  },
  mounted() {
    this.resizeHandler()
  },
  methods: {
    collapseNav() {
      this.isCollapse = !this.isCollapse
    },
    resizeHandler() {
      if (!document.hidden) {
        const rect = document.body.getBoundingClientRect()

        if (rect.width < 1264) {
          this.device = 'mobile'
        } else {
          this.device = 'desktop'
        }
      }
    },
    submenuSelect({ route, popover }) {
      if (popover) this.popoverVisible[popover] = false
      this.$router.push(route)
    },
  },
}
</script>

<style lang="scss" scoped>
/* Container */
.container {
  height: 100vh;
}

/* Header */
.header {
  border: 0;
  font-size: 16px;
  border-radius: 0;
  min-height: 50px;
  max-height: 60px;
  background-color: hsla(0, 0%, 100%, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: '';
  }
  .clearfix:after {
    clear: both;
  }

  .float-right {
    float: right;
    margin-top: 0px;

    .fa-lg {
      vertical-align: 0%;
    }

    ul {
      margin: 8px 0px 0px 0px;
      li {
        display: inline;
        margin-left: 15px;
      }
    }
  }

  // Button
  .el-button--text {
    .icon-link {
      cursor: pointer;
      color: #303133;
      font-size: 14px;
    }
  }
  .el-button--text:hover {
    .icon-link {
      color: #409eff;
    }
  }
  .hamburger {
    cursor: pointer;
    color: white;
  }
  .breadcrumb {
    position: absolute;
    margin: 21px;
    margin-left: 40px;
  }
}

/* Main */
.main {
  background-color: #f8f8f9;
  color: #333;
  text-align: left;
  /* line-height: 160px; */
  padding: 0px;
  // padding-bottom: 10px;
}

.el-menu {
  position: unset !important;
}

.content {
  background-color: #f0f0f0;
  padding: 20px 20px 10px 20px;
  // margin-bottom: 20px;
  // border-bottom-right-radius: 4px;
  // border-bottom-left-radius: 4px;
  // border-left: 1px solid #e4e7ed;
  // border-right: 1px solid #e4e7ed;
  // border-bottom: 1px solid #e4e7ed;
  min-height: calc(100vh - 154px);
}

.mr-1 {
  margin-right: 15px;
}
.ml-1 {
  margin-left: 15px;
}
.mx-1 {
  margin-right: 15px;
  margin-left: 15px;
}

.footer {
  text-align: center;
  font-size: 12px;
  color: #97a8be;
  padding-bottom: 10px;
  background-color: #f0f0f0;
}

.link-active {
  color: #409eff !important;
}
</style>
